.mat-app-background {
    padding: 30px 40px 30px 155px;
    display: flex;
    height: 100%;
    min-width: 100% !important;
    /* justify-content: center; */
    flex-wrap: wrap;
    gap: 15px;
}

.card-image {
    padding: 10px;
    object-fit: cover;
    height: 250px;
    width: 290px;
    
}

/* Changes made by hamza */
/* .premium-chip {
    position: absolute;
    height: 45px;
    top: 2px;
    background: yellow !important;
    border: none !important;
    border-radius: 0px;
    border-top-left-radius: 33px;
    border-top-right-radius: 38px;
    left: -15px;
    transform: rotate(-45deg);
    z-index: 1;
  } */

.udayopen {
    display: none;
    width: 100%;
    position: fixed;
    z-index: 9;
    background: white;
    left: 0;
    top: 50px;
    padding: 2rem;
    margin-top: 62px;
    /* display: flex; */
}

.dropdown:hover .udayopen {
    display: flex;
}

.udayopen ul {
    max-width: 25% !important;
}

.mat-card {
    height: 390px;
    min-width: 290px;
    max-width: 290px;
    margin-bottom: 0rem !important;
}

.logo-image {
    display: flex;
}

.logo-text {
    display: flex;
    padding: 10px;
    font-size: 25px;
    color: aliceblue;
}

.nav-bar {
    background-color: #0d475c;
    z-index: 1002;
    position: relative;
    padding: 0;
}

.icon-text {
    display: flex;
    height: 60px;
    align-items: center;
    width: 10%;
}

.icon-text1 {
    display: flex;
    height: 60px;
    align-items: center;
    width: 10%;
}

.css-1pr0bng {
    display: flex;
    align-items: center;
    width: 100%;
}

.search-bar-container {
    position: relative;
    width: 85%;
    background-color: #0d475c;
}

.seearch-bar {
    max-width: 1024px;
    padding: 8px 0;
}

.search-bar .inputs-wrapper {
    flex-flow: row nowrap;
    align-items: center;
    background: #fff;
    border-radius: 50px;
    display: flex;
    width: 100%;
}

.form-element {
    box-sizing: border-box;
    display: block;
    width: 100%;
    position: relative;
}

.search-bar .inputs-wrapper .keyword-search-container input,
.search-bar .inputs-wrapper .location-container input {
    border-radius: 45px;
    padding-left: 17px;
    border: none;
    width: 100%;
    height: 40px;
}

.search-bar .inputs-wrapper .keyword-search-container input:focus-visible,
.search-bar .inputs-wrapper .location-container input:focus-visible {
    border: none;
    outline: none;
}

.search-bar .inputs-wrapper .search-location-label {
    display: block;
}

.search-bar .inputs-wrapper .search-location-label .dividing-line {
    height: 23px;
    border-right: 1px solid rgba(60, 50, 65, .49);
}

.search-bar .inputs-wrapper .location-container {
    margin-top: 0;
    width: 35%;
    display: flex;
}

.search-bar .inputs-wrapper .search-button {
    border-radius: 50%;
    width: 44px;
    height: 44px;
    background: #e75462;
    border: none;
    color: #fff;
}

.container {
    display: flex;
    width: 100%;
}

.keyword-search-container {
    width: 65%;
}

.navbar-inverse {
    background-color: white;
    border-color: #080808;
    border: none;
    border-bottom: 1px solid;
    border-radius: 0px;
}

.navbar-inverse .navbar-nav>li>a {
    color: black;
    font-weight: 600;
}

.mat-app-background {

    /* display: grid; */
    /* grid-template-columns: 24% 24% 24% 24%; */
    /* grid-template-columns: 33% 33% 33%;
     grid-gap: 1%;
     padding: 0px 2vw;
     padding-top: 20px; */
    /* display: flex;
    grid-gap: 1%;
    padding: 0px 2vw;
    padding-top: 20px;
    flex-wrap: wrap; */
}

.second-nav li {
    padding: 0rem 3rem;
    border-right: 1px solid #ddd;
}

.second-nav li ul li {
    padding: 0rem 3rem;
    border-right: none;
}

.second-nav li:hover {
    background-color: darkgray;
    ;
}

.second-nav li li:hover {
    background: none;
}

.udayopen::after {
    content: "";
    position: absolute;
    height: calc(100vh - 100%);
    width: 100%;
    background: #00000030;
    left: 0;
    z-index: 9;
    top: 100%;
}

.list li {
    margin-bottom: 10px;
}

.list>li>a {
    display: block;
    font-size: 15px;
    line-height: 22px;
    color: #635b67;
}

.navbar-nav {
    width: 100%;
    display: flex;
}

.nav>li {
    width: 100%;
}

.loc-date {
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0px 1rem;
}

.loc {
    width: 75%;
    margin: 5px;
}

.date {
    text-align: right;
    width: 25%;
}

.navbar-right>li>a {
    color: #ffff;
}

.glyphicon-plus {
    left: 5px;
}

.glyphicon-user {
    left: 30px;
}

.navbar-right>li>a:focus,
.navbar-right>li>a:hover {
    text-decoration: none;
    background-color: #0d475c;
}

.spinner__loading {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.noposts {
    float: right;
    font-size: 30px;
}

.mat-mdc-card-title {
    display: block;
    margin: 0;
    padding: 0 16px;
}

.mdc-card {
    height: 350px;
    min-width: 290px;
    max-width: 290px;
}

.custom-link {
    text-decoration: none;
    color: black;
}

.custom-link:hover {
    text-decoration: none;
}

.back-to-top-btn {
    position: fixed;
    bottom: 0;
    left: 690px;
    top: 130px;
    height: 45px;
    width: 140px;
    background-color: #f1f1f1;
    color: #222;
    border: none;
    padding: 10px 3px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    z-index: 1100;
    font-weight: 500;
    font-size: 16px;
  }

  /* .back-to-top-btn:hover{
    border: 1px solid #222;
  }
   */
  .back-to-top-btn.show {
    display: flex;
  }

  .load-more-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 90%;
  }
  
  .load-more-btn {
    background-color: #f1f1f1;
    color: #222;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-weight: 500;
    font-size: 16px;
  }

.post-image{
    position: relative;
}

.ribbon-featured {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    bottom: 0;
    right: 0;
}

.ribbon-featured .ribbon {
    background-color: #007bff;
    color: #fff;
    box-shadow: 0 0 2px 0 rgba(0,0,0,.2);
    text-transform: uppercase;
    display: block;
    text-align: center;
    top: 13px;
    left: -33px;
    font-weight: 700;
    width: 112px;
    height: 24px;
    padding: 3px 0;
    position: relative;
    font-size: 10.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    font-family: "Arial Narrow", sans-serif;
    letter-spacing: 0.4px;
}

.hide-visually {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.image-count{
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    gap: 3px;
    background-color: #222;
    color: #fff;
    padding: 3px 5px;
    border-radius: 3px;
}