<div class="adds-conrainer">
  <h3>Manage Ads</h3>
  <div>
    <mat-tab-group
      animationDuration="0ms"
      (selectedTabChange)="onTabChanged($event)"
    >
      <mat-tab label="Approved">
        <br />
        <h4>Active Ads</h4>
        <br />
        <div
          id="unique-component"
          class="mat-app-background bg-white-back mat-pl-35"
        >
          <div class="card border-left-blue" *ngFor="let card of activeCards">
            <div class="admin-rel row d-flex m-auto">
              <div class="date col-xs-12 col-sm-1">
                <span class="colr"></span>
                <div class="dt">
                  <div class="dt-txt">
                    <span
                      ><strong>{{ formatDate(card?.createdOn) }}</strong></span
                    >
                  </div>
                </div>
              </div>
              <div class="col-sm-10 border-left">
                <div class="row product-details-cell border-bottom">
                  <div class="col-sm-4 d-flex">
                    <div class="product-img">
                      <img
                        [src]="card.projectImageList[0].codeImageURL"
                        alt="Post Pic"
                      />
                    </div>
                    <div
                      class="product-info cursor"
                      (click)="getPostDetailsLink(card)"
                    >
                      <a
                        [routerLink]="getPostDetailsLink(card)"
                        class="title-a"
                      >
                        <h4>{{ truncateTitle(card.name) }}</h4>
                      </a>
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <p class="p-price">₹ {{ card?.price }}</p>
                  </div>
                  <div class="col-sm-2">
                    <button class="btn-primary status">Published</button>
                  </div>
                  <div class="col-sm-4">
                    <p>This ad is live now</p>
                  </div>
                  <div class="col-sm-4">
                    <button class="float-right" (click)="editCard(card)">
                      Details
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Pending Approval">
        <br />
        <h4>Pending Ads</h4>
        <br />
        <div
          id="unique-component"
          class="mat-app-background bg-white-back mat-pl-35"
        >
          <div
            class="card border-left-blue"
            *ngFor="let card of pendingApprovalCards"
          >
            <div class="admin-rel row d-flex m-auto">
              <div class="date col-xs-12 col-sm-1">
                <span class="colr"></span>
                <div class="dt">
                  <div class="dt-txt">
                    <span
                      ><strong>{{ formatDate(card?.createdOn) }}</strong></span
                    >
                  </div>
                </div>
              </div>
              <div class="col-sm-10 border-left">
                <div class="row product-details-cell border-bottom">
                  <div class="col-sm-4 d-flex">
                    <div class="product-img">
                      <img
                        [src]="card.projectImageList[0].codeImageURL"
                        alt="Post Pic"
                      />
                    </div>
                    <div
                      class="product-info cursor"
                      (click)="getPostDetailsLink(card)"
                    >
                      <a
                        [routerLink]="getPostDetailsLink(card)"
                        class="title-a"
                      >
                        <h4>{{ truncateTitle(card.name) }}</h4>
                      </a>
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <p class="p-price">₹ {{ card?.price }}</p>
                  </div>
                  <div class="col-sm-2">
                    <button class="btn-primary status">Published</button>
                  </div>
                  <div class="col-sm-4">
                    <p>This ad is live now</p>
                  </div>
                  <div class="col-sm-4">
                    <button class="float-right" (click)="editCard(card)">
                      Details
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
