<div class="adds-conrainer">
  <h3>Help Manual</h3>
  <div>
    <mat-tab-group animationDuration="0ms">
      <mat-tab label="Why CodeOk" href="#about">
        <br />
        <div class="content-container" id="about">
          <br />
          <h4>Clean Content</h4>
          <p>
            100% original files from developers without advertising, viruses or
            malicious code. All products presented on the site are bought
            directly from developers, and are not downloaded from other sites.
          </p>
          <br />
          <h4>Direct Download Links</h4>
          <p>
            You download the product directly from our website without any
            waiting and advertising!
          </p>
          <br />
          <h4>Safe</h4>
          <p>
            We have been successfully working since 2013. More than 60K+
            customers choose us and buy products on CODEOK. Join now!
          </p>
          <br />
          <h4>Affordable Price</h4>
          <p>
            Our prices are much lower than developers' prices. You have the
            opportunity to purchase a premium product at an affordable price!
          </p>
          <br />
          <h4>Secure Payments</h4>
          <p>
            All payment gateways that we accept use PCI DSS security
            certificate. We do not store any sensitive personal information such
            as credit cards...
          </p>
          <br />
          <h4>New Products Add Every Day</h4>
          <p>
            We regularly buy and add new items to the site. If you can’t find
            the latest version of the product on the site, please contact us.
          </p>
          <br />
        </div>
      </mat-tab>
      <mat-tab label="Privacy Policy">
        <div class="content-container">
          <br />
          <br />
          <p>
            CodeOkk has established this privacy policy to explain to you how
            your information is protected, collected and used, which may be
            updated by CodeOkk from time to time. We will provide notice of
            materially significant changes to this privacy policy by posting
            notice on this site.
          </p>
          <br />
          <h4>Protecting your privacy.</h4>
          <p>
            Account information is password-protected. Keep your password safe.
          </p>
          <p>
            CodeOkk.com, or people who post on CodeOkk.com, may provide links to
            third party websites, which may have different privacy practices. We
            are not responsible for, nor have any control over, the privacy
            policies of those third party websites, and encourage all users to
            read the privacy policies of each and every website visited.
          </p>
          <br />
          <h4>Data We Collect</h4>
          <p>
            We sometimes collect your email address, for purposes such as
            sending self-publishing and confirmation emails, authenticating user
            accounts, providing subscription email services, registering for
            forums, etc.
          </p>
          <p>
            CodeOkk does not store credit card information. Credit card
            transactions are transmitted to a financial gateway, and we endeavor
            to protect the security of your payment information during
            transmission by using Secure Sockets Layer (SSL) technology. Our web
            logs collect standard web log entries for each page served,
            including your IP address, page URL, and timestamp.
          </p>
          <br />
          <h4>Data We Store</h4>
          <p>
            All postings are stored in our database, even after “deletion,” and
            may be archived elsewhere.
          </p>
          <p>Our web logs and other records are stored indefinitely.</p>
          <br />
          <h4>Circumstances in which CodeOkk may release information</h4>
          <p>
            CodeOkk.com may disclose information about its users if required to
            do so by law or in the good faith belief that such disclosure is
            reasonably necessary to respond to court orders, or other legal
            process.
          </p>
          <br />
          <h4>International Users</h4>
          <p>
            By visiting our web site and providing us with data, you acknowledge
            and agree that due to the international dimension of CodeOkk.com we
            may use the data collected in the course of our relationship for the
            purposes identified in this policy or in our other communications
            with you, including the transmission of information outside your
            resident jurisdiction. In addition, please understand that such data
            may be stored on servers located in the United States. By providing
            us with your data, you consent to the transfer of such data.
          </p>
          <br />
        </div>
      </mat-tab>
      <mat-tab label="Refund Policy">
        <div class="content-container">
          <br />
          <br />
          <p>
            There is generally no obligation to provide a refund or credit in
            situations like the following:
          </p>
          <br />
          <p>You have changed your mind about an item</p>
          <p>You bought an item by mistake</p>
          <p>You do not have sufficient expertise to use the item</p>
          <p>
            You can no longer access the item because it has been removed (we
            advise you to download items as soon as you buy them to avoid this
            situation).
          </p>
          <br />
        </div>
      </mat-tab>
      <mat-tab label="Service Pricing">
        <div class="content-container">
          <br />
          <br />
          <p>
            There’s a lot you can do for free on CodeOk. Sell your car or your
            kettle, find a new job and a place to stay. All without putting your
            hand in your pocket.
          </p>
          <p>
            Sometimes you might need to pay a fee to get your ad where you want
            it. The amount depends on:
          </p>
          <p>- whether you’re posting as a private individual or a business</p>
          <p>- the category you’re posting in</p>
          <p>
            You can also pay to make your ad work harder. Our features help you
            jump to the top of the listings, speed up your sale, or reach out
            further to your audience. They’re available in every category. Just
            pick and choose to suit your needs.
          </p>
          <p>
            To keep the price down, you can trial your ad without features to
            see how you get on. Add them at a later date if you think your ad
            needs more boost.
          </p>
          <br />
          <h4>Benefits of Premium Service</h4>
          <p>
            Take your ad to the next level. Our paid features offer ideal
            placement and unique, eye-catching characteristics to help you get
            the most out of your CodeOk experience. Ads with features receive
            more replies than ads without. More replies mean better deals and a
            faster route to success.
          </p>
          <p>CodeOk Premium Ads offers 3 unique features:</p>
          <p>
            Speed Up: Breathe new life into your ad by moving it up to the first
            page. Ads with the Bump Up feature applied receive an average of 2
            times more replies.*
          </p>
          <p>
            Urgent: Show buyers that you’re serious about selling quickly by
            adding an Urgent label. Ads with the Urgent feature applied receive
            an average of 3 times more replies.*
          </p>
          <p>
            Featured: Make sure your ad stands out from the crowd by having your
            ad in the top section of search results for 3, 7, or 30 days. Ads in
            the Featured section receive an average of 4 times more replies.
          </p>
          <br />
        </div>
      </mat-tab>
      <!-- <mat-tab label="Technical Issue">
            <br />
            <h4>Technical Issue</h4>
            <br />
          </mat-tab>
          <mat-tab label="CodeOk For Business">
            <br />
            <h4>CodeOk For Business</h4>
            <br />
          </mat-tab> -->
      <mat-tab label="Terms & Conditions">
        <div class="content-container">
          <br />
          <h4>Intellectual property rights</h4>
          <p>
            CodeOkk is the owner or the licensee of all Intellectual Property
            Rights in the Website, and in the material published on it. You
            acknowledge and agree that all Intellectual Property Rights in all
            material or content supplied as part of the Website shall remain at
            all times vested in Flipping Enterprises. You are permitted to use
            this Website and the material contained therein only as expressly
            authorised by us.
          </p>
          <p>
            You must not use any part of the materials on the Website for
            commercial purposes without obtaining a licence to do so from us.
          </p>
          <br />
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
