
<div class="container w-950">
    <h1 class="fw-500">Login & Security</h1>
    <div class="pt-40">
        <h3 class="fw-500">Login</h3>
       <div class="flex w-70">
        <h5>Password</h5>
        <a href="#" class="ml-auto">Reset password</a>
       </div>
    </div>
    <hr>
    <div class="pt-40">
        <h3 class="fw-500">Account</h3>
       <div class="flex w-70">
        <h5>Delete Your account</h5>
        <a href="#" class="ml-auto">Delete account</a>
       </div>
    </div>
</div>
