<div class="container-fluid">
  <div class="header">Post Your Project Code</div>
  <div class="container">
    <h4>Enter Some Details</h4>
    <div class="include-details">
      <mat-form-field>
        <mat-label>Project Title</mat-label>
        <input matInput placeholder="Enter Name" [(ngModel)]="payload.name" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea
          matInput
          placeholder="Enter Description"
          name="textareaInput"
          [(ngModel)]="payload.description"
          rows="3"
        ></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Project Category</mat-label>
        <input
          type="text"
          placeholder="Pick one"
          aria-label="Number"
          matInput
          [formControl]="categoryControl"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete
          autoActiveFirstOption
          #auto="matAutocomplete"
          (optionSelected)="handleCategory($event.option.value)"
          [displayWith]="displayCategory"
        >
          <mat-option
            *ngFor="let category of filteredCategorys | async"
            [value]="category"
          >
            {{ category.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Industry Type</mat-label>
        <input
          type="text"
          placeholder="Pick one"
          aria-label="Number"
          matInput
          [formControl]="industryControl"
          [matAutocomplete]="industry"
        />
        <mat-autocomplete
          autoActiveFirstOption
          #industry="matAutocomplete"
          (optionSelected)="handleIndustry($event.option.value)"
          [displayWith]="displayCategory"
        >
          <mat-option
            *ngFor="let industry of filteredIndustries | async"
            [value]="industry"
          >
            {{ industry.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field appearance="fill" class="form-field-w-100">
        <mat-label>Technology</mat-label>
        <mat-select
          #technologyMultiSelect
          [(ngModel)]="selectedTechnology"
          multiple
          (selectionChange)="handleTechnology($event)"
        >
          <mat-option
            *ngFor="let technology of technologies"
            [value]="technology"
            >{{ technology.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" class="form-field-w-100">
        <mat-label>Software Version</mat-label>
        <mat-select
          #versionMultiSelect
          [(ngModel)]="selectedVersion"
          multiple
          (selectionChange)="handleVersion($event)"
        >
          <mat-option *ngFor="let version of versions" [value]="version">{{
            version.name
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" class="form-field-w-100">
        <mat-label>Operating System</mat-label>
        <mat-select
          #osMultiSelect
          [(ngModel)]="selectedOs"
          multiple
          (selectionChange)="handleOs($event)"
        >
          <mat-option *ngFor="let os of operatingSystems" [value]="os">{{
            os.name
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>System Requirements</mat-label>
        <input
          matInput
          placeholder="Enter system requirements"
          [(ngModel)]="payload.systemRequirement"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Installation Steps</mat-label>
        <input
          matInput
          placeholder="Enter Installation Steps"
          [(ngModel)]="payload.installationSteps"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Features</mat-label>
        <textarea
          matInput
          placeholder="Enter Features"
          [(ngModel)]="payload.features"
          rows="3"
        ></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Code Setup Video URL</mat-label>
        <input
          matInput
          placeholder="Enter Youtube Embed Code"
          [(ngModel)]="payload.demoURL"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Aplication Demo Video URL</mat-label>
        <input
          matInput
          placeholder="Enter Youtube Embed Code"
          [(ngModel)]="payload.documentaionURL"
        />
      </mat-form-field>
      <mat-form-field class="example-chip-list">
        <mat-label>Enter Tags</mat-label>
        <mat-chip-grid #chipGrid aria-label="tag selection">
          <mat-chip-row *ngFor="let tag of tags" (removed)="remove(tag)">
            {{ tag }}
            <button matChipRemove [attr.aria-label]="'remove ' + tag">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
        </mat-chip-grid>
        <input
          placeholder="Press enter after writing the tag.."
          #fruitInput
          [formControl]="tagCtrl"
          [matChipInputFor]="chipGrid"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="add($event)"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Comment For Reviewer</mat-label>
        <textarea
          matInput
          placeholder="Enter Comment For Reviewer"
          name="textareaInput"
          [(ngModel)]="payload.commentForReviewer"
          rows="3"
        ></textarea>
      </mat-form-field>
    </div>
    <div class="price-section">
      <h4>Service Type</h4>
      <div class="include-details">
        <mat-chip-listbox [(ngModel)]="selectedServiceType">
          <ng-container *ngFor="let type of serviceTypes; let i = index">
            <mat-chip-option *ngIf="isAdmin || i < 2" [value]="type">
              {{ type }}
            </mat-chip-option>
          </ng-container>
        </mat-chip-listbox>
      </div>
    </div>
    <div class="price-section">
      <h4>SET A PRICE</h4>
      <div class="include-details">
        <mat-form-field>
          <mat-label *ngIf="isInputFocused">Enter Price in Dollars</mat-label>
          <input
            matInput
            placeholder="$"
            (input)="allowOnlyNumbers($event)"
            [(ngModel)]="payload.price"
            (focus)="onInputFocus()"
            (blur)="onInputBlur()"
            class="price-field"
          />
        </mat-form-field>
      </div>
    </div>
    <div class="uplod-sectin h-550">
      <h4>Upload Project Images/Screenshots</h4>
      <div class="progs" *ngIf="imageProgress">
        <h5>Upload Progress</h5>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
      <div class="cards">
        <ul class="upld">
          <li
            class="upload-card"
            *ngFor="let item of cardsCount; let i = index"
          >
            <div
              class="upload-card-brd"
              (click)="selectFile()"
              id="{{ i }}"
              *ngIf="item == ''"
            >
              <input
                type="file"
                id="fileUpload"
                name="fileUpload"
                (change)="selectImage($event)"
                style="display: none"
                multiple
              />
              <div>
                <button class="camera">
                  <img src="../../../assets/camera.svg" alt="camera" />
                </button>
                <span class="add">Add photo</span>
              </div>
            </div>
            <div class="upload-card-brd" *ngIf="item != ''">
              <div class="preview">
                <button
                  class="delete-button"
                  (click)="deleteBackgroundImage(i)"
                >
                  <span class="delete-icon">&#10006;</span>
                </button>
                <div class="first-image" *ngIf="i === 0 && firstImageUploaded">
                  <div class="cover-tag">Cover Photo</div>
                </div>
                <img [src]="item" height="100px" width="100px" alt="" />
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="uplod-sectin">
      <h4>Upload Project Code in Zip Format (Max size 500 MB)</h4>
      <div class="progs" *ngIf="projectCodeProgress">
        <h5>Upload Progress</h5>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
      <div class="cards mw-45">
        <div class="file-upload-container">
          <input
            #fileUpload
            class="input_fileupload--hidden"
            type="file"
            (change)="selectProjectCode($event)"
            multiple
          />
          <div class="code-upload-container">
            <div class="code-upload-icon">
              <span class="material-icons-outlined"> cloud_upload </span>
            </div>
            <div class="code-upload-details">
              <p class="code-upload-message">Drag and drop your files here</p>
              <div class="code-upload-option">
                <div class="flex-grow-1"><hr /></div>
                <div class="or">Or</div>
                <div class="flex-grow-1"><hr /></div>
              </div>
            </div>
            <div class="code-upload-btn-container">
              <button
                mat-raised-button
                class="code-upload-btn"
                (click)="onClick($event)"
              >
                Browse
              </button>
            </div>
          </div>
        </div>

        <div class="file-list">
          <ul>
            <li *ngFor="let file of uploadedFiles; let i = index">
              <div class="left-side">
                <div class="camera-photo">
                  <span class="material-icons"> insert_drive_file </span>
                </div>
                <div class="file-name">{{ file.file.name }}</div>
              </div>
              <button
                mat-icon-button
                color="warn"
                class="delete-btn"
                (click)="deleteFile(i)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="details">
      <h4>Review Your Personal Details</h4>
      <div class="flx">
        <div class="circle">
          <img [src]="imageUrl" alt="Uploaded Image" />
          <!-- <input
            type="file"
            id="upload"
            (change)="uploadProfilePicture($event)"
            style="display: none"
          /> -->
        </div>
        <!-- <button class="upload-button" (click)="selectProfilePicture()">
          +
        </button> -->
        <div class="wd-300">
          <div class="wd-100">
            <p class="w-50">Name</p>
            <p>{{ userData?.firstName }}</p>
          </div>
          <div class="wd-100">
            <p class="w-50">Phone number</p>
            <p>{{ userData?.mobileNo }}</p>
          </div>
        </div>
      </div>
    </div>
    <div>
      <button
        class="post"
        mat-raised-button
        color="primary"
        (click)="postAdd()"
      >
        Submit For Review
      </button>
    </div>
  </div>
</div>
