<div class="pricing-plans-section">
  <div class="pricing-plans-container">
    <h3 class="pricing-plans-heading">
      <span class="text-normal"> How it works?</span>
    </h3>
    <div class="youtube-video">
      <iframe
        width="900"
        height="415"
        src="https://www.youtube.com/embed/79pKwdiqcwI?si=6kbVhP7426vGJx-4"
        title="YouTube video player"
        frameborder="0"
        class="youtube-video"
        allow="autoplay;"
        allowfullscreen
      ></iframe>
    </div>
    <h3 class="pricing-plans-heading">
      <span class="text-normal">Our Service Based Pricing Model</span>
    </h3>
    <div class="pricing-plans">
      <div class="plan">
        <div class="plan-head community-plan-head">
          <h2 class="plan-title">Community</h2>
        </div>
        <div class="plan-body">
          <div class="features-included">
            <div class="feature">
              <span class="material-icons-outlined done-icon"> done </span>
              <p class="feature-name">Access to Basic Code Samples</p>
            </div>
            <div class="feature">
              <span class="material-icons-outlined done-icon"> done </span>
              <p class="feature-name">Limited Forum Support</p>
            </div>
            <div class="feature">
              <span class="material-icons-outlined done-icon"> done </span>
              <p class="feature-name">Weekly Newsletter</p>
            </div>
            <div class="feature">
              <span class="material-icons-outlined done-icon"> done </span>
              <p class="feature-name">Beginner Tutorials</p>
            </div>
            <div class="feature">
              <span class="material-icons-outlined done-icon"> done </span>
              <p class="feature-name">Limited Tech Support</p>
            </div>
          </div>
        </div>
      </div>
      <div class="plan">
        <div class="plan-head standard-plan-head">
          <h2 class="plan-title">Standard</h2>
        </div>
        <div class="plan-body">
          <div class="features-included">
            <div class="feature">
              <span class="material-icons-outlined done-icon"> done </span>
              <p class="feature-name">Expanded Code Repository</p>
            </div>
            <div class="feature">
              <span class="material-icons-outlined done-icon"> done </span>
              <p class="feature-name">Priority Forum Support</p>
            </div>
            <div class="feature">
              <span class="material-icons-outlined done-icon"> done </span>
              <p class="feature-name">Monthly Webinars</p>
            </div>
            <div class="feature">
              <span class="material-icons-outlined done-icon"> done </span>
              <p class="feature-name">Intermediate Tutorials</p>
            </div>
            <div class="feature">
              <span class="material-icons-outlined done-icon"> done </span>
              <p class="feature-name">Code Review Sessions</p>
            </div>
          </div>
        </div>
      </div>
      <div class="plan">
        <div class="plan-head premium-plan-head">
          <h2 class="plan-title">Premium</h2>
        </div>
        <div class="plan-body">
          <div class="features-included">
            <div class="feature">
              <span class="material-icons-outlined done-icon"> done </span>
              <p class="feature-name">Full Access to All Code</p>
            </div>
            <div class="feature">
              <span class="material-icons-outlined done-icon"> done </span>
              <p class="feature-name">24/7 Premium Support</p>
            </div>
            <div class="feature">
              <span class="material-icons-outlined done-icon"> done </span>
              <p class="feature-name">Personal Coding Dashboard</p>
            </div>
            <div class="feature">
              <span class="material-icons-outlined done-icon"> done </span>
              <p class="feature-name">Expert Code Reviews</p>
            </div>
            <div class="feature">
              <span class="material-icons-outlined done-icon"> done </span>
              <p class="feature-name">Discounts on Coding Tools</p>
            </div>
          </div>
        </div>
      </div>
      <div class="plan">
        <div class="plan-head enterprise-plan-head">
          <h2 class="plan-title">Enterprise</h2>
          <!-- <div class="bg-plan">Text</div> -->
        </div>
        <div class="plan-body">
          <div class="features-included">
            <div class="feature">
              <span class="material-icons-outlined done-icon"> done </span>
              <p class="feature-name">Advanced Analytics</p>
            </div>
            <div class="feature">
              <span class="material-icons-outlined done-icon"> done </span>
              <p class="feature-name">API Integration</p>
            </div>
            <div class="feature">
              <span class="material-icons-outlined done-icon"> done </span>
              <p class="feature-name">Unlimited User Licenses</p>
            </div>
            <div class="feature">
              <span class="material-icons-outlined done-icon"> done </span>
              <p class="feature-name">Custom Security Features</p>
            </div>
            <div class="feature">
              <span class="material-icons-outlined done-icon"> done </span>
              <p class="feature-name">Enterprise Community Forum</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
