<div class="pricing-plans-section">
  <div class="pricing-plans-container">
    <!-- <h3 class="pricing-plans-heading">
      <span class="text-normal"> How it works?</span>
    </h3>
    <div class="youtube-video">
      <iframe
        width="900"
        height="415"
        src="https://www.youtube.com/embed/79pKwdiqcwI?si=6kbVhP7426vGJx-4"
        title="YouTube video player"
        frameborder="0"
        class="youtube-video"
        allow="autoplay;"
        allowfullscreen
      ></iframe>
    </div> -->
    <h3 class="pricing-plans-heading">
      <span class="plan-title">Codeokk service model </span>
    </h3>
    <div class="pricing-plans">
      <div class="plan">
        <div class="plan-head community-plan-head">
          <h2 class="plan-title">Community</h2>
        </div>
        <div class="plan-body community-plan-body">
          <div class="features-included">
            <div class="feature">
              <span class="material-icons-outlined done-icon"> done </span>
              <p class="feature-name">Free Download</p>
            </div>
            <div class="feature">
              <span class="material-icons-outlined done-icon"> done </span>
              <p class="feature-name">Code post by community</p>
            </div>
            
            <div class="feature">
              <span class="material-icons-outlined close-icon"> close </span>
              <p class="feature-name">Service not available</p>
            </div>
            
          </div>
        </div>
      </div>
      <div class="plan">
        <div class="plan-head standard-plan-head">
          <h2 class="plan-title">Standard</h2>
        </div>
        <div class="plan-body standard-plan-body">
          <div class="features-included">
            <div class="feature">
              <span class="material-icons-outlined done-icon"> done </span>
              <p class="feature-name">Paid download</p>
            </div>
            <div class="feature">
              <span class="material-icons-outlined done-icon"> done </span>
              <p class="feature-name">Project sold by seller</p>
            </div>
            <div class="feature">
              <span class="material-icons-outlined done-icon"> done </span>
              <p class="feature-name">Tech support from seller</p>
            </div>
            <div class="feature">
              <span class="material-icons-outlined done-icon"> done </span>
              <p class="feature-name">Service taken care by seller</p>
            </div>
            <div class="feature">
              <span class="material-icons-outlined close-icon"> close </span>
              <p class="feature-name">Service taken care by Codeokk</p>
            </div>
            
          </div>
        </div>
      </div>
      <div class="plan">
        <div class="plan-head premium-plan-head">
          <h2 class="plan-title">Premium</h2>
        </div>
        <div class="plan-body">
          <div class="features-included">
            <div class="feature">
              <span class="material-icons-outlined done-icon"> done </span>
              <p class="feature-name">Selling product as a service (PAAS)</p>
            </div>
            <div class="feature">
              <span class="material-icons-outlined done-icon"> done </span>
              <p class="feature-name">Product sold by Codeokk</p>
            </div>
            <div class="feature">
              <span class="material-icons-outlined done-icon"> done </span>
              <p class="feature-name">Application hosted on Shared VPS.</p>
            </div>
            <div class="feature">
              <span class="material-icons-outlined done-icon"> done </span>
              <p class="feature-name">Designed for Startup</p>
            </div>
            <div class="feature">
              <span class="material-icons-outlined done-icon"> done </span>
              <p class="feature-name">Database hosted on azure cloud</p>
            </div>
            <div class="feature">
              <span class="material-icons-outlined done-icon"> done </span>
              <p class="feature-name">Maintenance taken care by Codeokk</p>
            </div>
            <div class="feature">
              <span class="material-icons-outlined done-icon"> done </span>
              <p class="feature-name">Service taken care by Codeokk</p>
            </div>
            <div class="feature">
              <span class="material-icons-outlined done-icon"> done </span>
              <p class="feature-name">Service based on hourly rate</p>
            </div>
            <div class="feature">
              <span class="material-icons-outlined done-icon"> done </span>
              <p class="feature-name">SLA not covered.</p>
            </div>
           

          </div>
        </div>
      </div>
      <div class="plan">
        <div class="plan-head enterprise-plan-head">
          <h2 class="plan-title">Enterprise</h2>
          <!-- <div class="bg-plan">Text</div> -->
        </div>
        <div class="plan-body">
          <div class="features-included">
            <div class="feature">
              <span class="material-icons-outlined done-icon"> done </span>
              <p class="feature-name">Selling product as a service (PAAS)</p>
            </div>
            <div class="feature">
              <span class="material-icons-outlined done-icon"> done </span>
              <p class="feature-name">Product sold by Codeokk</p>
            </div>
            <div class="feature">
              <span class="material-icons-outlined done-icon"> done </span>
              <p class="feature-name">Application hosted on Azure cloud</p>
            </div>
            <div class="feature">
              <span class="material-icons-outlined done-icon"> done </span>
              <p class="feature-name">Designed for enterprise client</p>
            </div>
            <div class="feature">
              <span class="material-icons-outlined done-icon"> done </span>
              <p class="feature-name">Database hosted on azure cloud</p>
            </div>
            <div class="feature">
              <span class="material-icons-outlined done-icon"> done </span>
              <p class="feature-name">Maintenance taken care by Codeokk</p>
            </div>
            <div class="feature">
              <span class="material-icons-outlined done-icon"> done </span>
              <p class="feature-name">Service taken care by Codeokk</p>
            </div>
            <div class="feature">
              <span class="material-icons-outlined done-icon"> done </span>
              <p class="feature-name">Service based on hourly rate</p>
            </div>
            <div class="feature">
              <span class="material-icons-outlined done-icon"> done </span>
              <p class="feature-name">SLA 99.95 % (Microsoft claim)</p>
            </div>
            <div class="feature">
              <span class="material-icons-outlined done-icon"> done </span>
              <p class="feature-name">Provide priority support</p>
            </div>
            <div class="feature">
              <span class="material-icons-outlined done-icon"> done </span>
              <p class="feature-name">Dedicated Azure cloud hosting</p>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
