<div class="pricing-plans-section">
  <div class="pricing-plans-container">
    <!-- <h3 class="pricing-plans-heading">
      <span class="text-normal"> How it works?</span>
    </h3>
    <div class="youtube-video">
      <iframe
        width="900"
        height="415"
        src="https://www.youtube.com/embed/79pKwdiqcwI?si=6kbVhP7426vGJx-4"
        title="YouTube video player"
        frameborder="0"
        class="youtube-video"
        allow="autoplay;"
        allowfullscreen
      ></iframe>
    </div> -->
    <h3 class="pricing-plans-heading">
      <span class="text-normal">Our Service Based Pricing Model</span>
    </h3>
    <div class="pricing-plans">
      <div class="plan">
        <div class="plan-head community-plan-head">
          <h2 class="plan-title">Community</h2>
        </div>
        <div class="plan-body community-plan-body">
          <div class="features-included">
            <div class="feature">
              <span class="material-icons-outlined done-icon"> done </span>
              <p class="feature-name">Free download</p>
            </div>
            <div class="feature">
              <span class="material-icons-outlined done-icon"> done </span>
              <p class="feature-name">Code review by community</p>
            </div>
            <div class="feature">
              <span class="material-icons-outlined done-icon"> done </span>
              <p class="feature-name">Project post by community</p>
            </div>
            <div class="feature">
              <span class="material-icons-outlined close-icon"> close </span>
              <p class="feature-name">Support not guaranteed</p>
            </div>
            <div class="feature">
              <span class="material-icons-outlined close-icon"> close </span>
              <p class="feature-name">Tech support not guaranteed</p>
            </div>
            <div class="feature">
              <span class="material-icons-outlined close-icon"> close </span>
              <p class="feature-name">Service not guaranteed</p>
            </div>
          </div>
        </div>
      </div>
      <div class="plan">
        <div class="plan-head standard-plan-head">
          <h2 class="plan-title">Standard</h2>
        </div>
        <div class="plan-body standard-plan-body">
          <div class="features-included">
            <div class="feature">
              <span class="material-icons-outlined done-icon"> done </span>
              <p class="feature-name">Paid download</p>
            </div>
            <div class="feature">
              <span class="material-icons-outlined done-icon"> done </span>
              <p class="feature-name">Code review by seller</p>
            </div>
            <div class="feature">
              <span class="material-icons-outlined done-icon"> done </span>
              <p class="feature-name">Project sold by seller</p>
            </div>
            <div class="feature">
              <span class="material-icons-outlined done-icon"> done </span>
              <p class="feature-name">Support via email</p>
            </div>
            <div class="feature">
              <span class="material-icons-outlined done-icon"> done </span>
              <p class="feature-name">Tech support from seller</p>
            </div>
            <div class="feature">
              <span class="material-icons-outlined done-icon"> done </span>
              <p class="feature-name">Service taken care by seller</p>
            </div>
          </div>
        </div>
      </div>
      <div class="plan">
        <div class="plan-head premium-plan-head">
          <h2 class="plan-title">Premium</h2>
        </div>
        <div class="plan-body">
          <div class="features-included">
            <div class="feature">
              <span class="material-icons-outlined done-icon"> done </span>
              <p class="feature-name">Paid download</p>
            </div>
            <div class="feature">
              <span class="material-icons-outlined done-icon"> done </span>
              <p class="feature-name">Code quality guaranteed</p>
            </div>
            <div class="feature">
              <span class="material-icons-outlined done-icon"> done </span>
              <p class="feature-name">Project sold by CodeOkk</p>
            </div>
            <div class="feature">
              <span class="material-icons-outlined done-icon"> done </span>
              <p class="feature-name">Support via email & chat</p>
            </div>
            <div class="feature">
              <span class="material-icons-outlined done-icon"> done </span>
              <p class="feature-name">Tech Support from CodeOkk</p>
            </div>
            <div class="feature">
              <span class="material-icons-outlined done-icon"> done </span>
              <p class="feature-name">Service based on hourly rate</p>
            </div>
            <div class="feature">
              <span class="material-icons-outlined done-icon"> done </span>
              <p class="feature-name">Waiting support time upto 48 hrs</p>
            </div>
          </div>
        </div>
      </div>
      <div class="plan">
        <div class="plan-head enterprise-plan-head">
          <h2 class="plan-title">Enterprise</h2>
          <!-- <div class="bg-plan">Text</div> -->
        </div>
        <div class="plan-body">
          <div class="features-included">
            <div class="feature">
              <span class="material-icons-outlined done-icon"> done </span>
              <p class="feature-name">Paid download</p>
            </div>
            <div class="feature">
              <span class="material-icons-outlined done-icon"> done </span>
              <p class="feature-name">Code quality guaranteed</p>
            </div>
            <div class="feature">
              <span class="material-icons-outlined done-icon"> done </span>
              <p class="feature-name">Project sold by CodeOkk</p>
            </div>
            <div class="feature">
              <span class="material-icons-outlined done-icon"> done </span>
              <p class="feature-name">Support via email, chat & call</p>
            </div>
            <div class="feature">
              <span class="material-icons-outlined done-icon"> done </span>
              <p class="feature-name">Tech Support from CodeOkk</p>
            </div>
            <div class="feature">
              <span class="material-icons-outlined done-icon"> done </span>
              <p class="feature-name">Service based on AMC</p>
            </div>
            <div class="feature">
              <span class="material-icons-outlined done-icon"> done </span>
              <p class="feature-name">Waiting support time upto 8 hrs</p>
            </div>
            <div class="feature">
              <span class="material-icons-outlined done-icon"> done </span>
              <p class="feature-name">24*7 support available</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
