<div class="adds-conrainer mt-all-120">
  <div class="feedback-top">
    <h3>Feedback Form</h3>
    <p class="feedback-top-text">
      Your opinion is important to improve product services & user experience.
    </p>
  </div>
  <mat-card-content>
    <form class="message-form">
      <div class="ratings-stars">
        <app-star-rating
          (ratingSelected)="handleCodeokkRatingSelected($event)"
        ></app-star-rating>
      </div>
      <mat-form-field>
        <mat-label>Message</mat-label>
        <textarea
          matInput
          placeholder="Write your review"
          type="text"
          name="message"
          [(ngModel)]="message"
          rows="3"
        ></textarea>
        <!-- <mat-icon matSuffix>receipt</mat-icon> -->
      </mat-form-field>
      <p class="failure-message" *ngIf="validFeedbackMessage">
        <span class="material-icons-outlined"> report </span>
        Message is required*
      </p>
      <!-- Call onSubmit() function when button is clicked -->
      <button
        mat-raised-button
        color="primary"
        class="send-feedback"
        (click)="onSubmit()"
      >
        Submit
      </button>
    </form>
  </mat-card-content>
</div>
