<div class="container-center bg mpt p-relative">
  <div
    class="watch-tutorial"
    [innerHTML]="documentationURL"
    *ngIf="documentationURL"
  ></div>
  <div class="spinner__loading" *ngIf="isLoading">
    <div>
      <mat-spinner></mat-spinner>
    </div>
  </div>
  <div class="pd-3" *ngIf="!isLoading">
    <div class="flex ml-190">
      <!-- <a
        [href]="postDetails?.demoURL"
        target="_blank"
        class="demo-btn a-link"
        *ngIf="postDetails?.demoURL"
      >
        <button class="back-btn">Live Demo</button>
      </a> -->
    </div>
    <div class="flex flex-r gap-2 pt-3">
      <div>
        <mat-card
          class="border-1 mb-2 block img-mat-card bg-gray-card"
          *ngFor="let image of postDetails.projectImageList; let i = index"
        >
          <div class="pg-card">
            <div class="postImgCont">
              <img class="postImg" [src]="image.codeImageURL" alt="" />
            </div>
            <a
              [href]="postDetails?.demoURL"
              target="_blank"
              class="demo-btn a-link"
              *ngIf="postDetails?.demoURL && i === 0"
            >
              <button class="back-btn">Live Demo</button>
            </a>
            <button class="back-btn pg-btn" (click)="goBack()" *ngIf="i === 0">
              <span class="material-icons-outlined"> chevron_left </span>Back
            </button>
            <span
              *ngIf="i === 0"
              class="material-icons set-fav-card"
              [class.material-icons-outlined]="
                !favoriteStatus[postDetails?.tableRefGuid]
              "
              [class.fill]="favoriteStatus[postDetails?.tableRefGuid]"
              [class.active]="favoriteStatus[postDetails?.tableRefGuid]"
              (click)="toggleFavorite($event, postDetails?.tableRefGuid)"
              title="Add in Wishlist"
            >
              {{
                favoriteStatus[postDetails.tableRefGuid]
                  ? "favorite"
                  : "favorite_border"
              }}
            </span>
            <span class="ribbon-featured" *ngIf="i === 0">
              <strong
                [class.ribbon]="true"
                [class.community-ribbon]="postDetails.serviceTypeId === 1"
                [class.standard-ribbon]="postDetails.serviceTypeId === 2"
                [class.premium-ribbon]="postDetails.serviceTypeId === 3"
                [class.enterprise-ribbon]="postDetails.serviceTypeId === 4"
              >
                <span class="hide-visually">This ad is</span>
                {{ getRibbonText(postDetails.serviceTypeId) }}
              </strong>
            </span>
          </div>
        </mat-card>
      </div>
      <div class="col-5">
        <mat-card class="border-1 bg-gray-card">
          <mat-card-content class="description pbot-5">
            <!-- <mat-card-title class="post-price"
            ><span class="dollar">$</span
            >{{ postDetails?.price }}</mat-card-title
            > -->
            <!-- <div class="loc-date">
              <p class="date">{{ formatDate(postDetails?.createdOn) }}</p>
            </div> -->
            <h3 style="margin: 0" class="mbot-5 post-title">
              {{ postDetails?.name }}
            </h3>
            <br />
            <div class="flex-row">
              <p class="bold margin-t-2">{{ averageRating.toFixed(1) }}</p>
              <div class="ratings-stars">
                <app-star-rating
                  [readOnly]="true"
                  [selectedStar]="parseAverageRating()"
                ></app-star-rating>
              </div>
              <p
                class="total-ratings bold margin-t-2"
                (click)="goToCustomerReviews()"
              >
                {{ totalRatings }} Ratings
              </p>
              <p class="dash margin-t-2">|</p>
              <p
                class="see-all-ratings bold margin-t-2"
                (click)="goToCustomerReviews()"
              >
                See all reviews
              </p>
            </div>
            <div
              class="total-downloads"
              *ngIf="postDetails.serviceTypeId === 1"
            >
              Total Downloads ({{ downloadCount }})
            </div>
            <div
              class="total-downloads"
              *ngIf="postDetails.serviceTypeId !== 1"
            >
              Total Sales ({{ downloadCount }})
            </div>
          </mat-card-content>
        </mat-card>
        <mat-card
          class="mt-10 border-1 bg-gray-card"
          *ngIf="postDetails.serviceTypeId === 1"
        >
          <mat-card-title class="title-flex"> Download</mat-card-title>
          <mat-card-content>
            <button class="download-btn d-flex" (click)="downloadCode()">
              <span class="material-icons-outlined fz-26"> file_download </span>
              <span class="fz-17">Download Code</span>
            </button>
          </mat-card-content>
        </mat-card>
        <mat-card
          class="border-1 mt-10"
          *ngIf="postDetails.serviceTypeId !== 1"
        >
          <mat-card-content class="bg-gray-card padding-0">
            <!-- <div class="top-content">
              <ng-container *ngIf="postDetails.serviceTypeId === 4">
                <label class="cart-service cart-service_support checkbox">
                  <input
                    type="radio"
                    name="licenseType"
                    class="cart-service-checkbox checkbox-input"
                    (change)="onRadioChange(serviceTypeData[0]?.items[0])"
                    [checked]="serviceTypeData[0]?.items[0].checked"
                  />
                  <i class="cart-service-checkbox-icon checkbox-icon"></i>
                  <span class="cart-service-label checkbox-label lg">{{
                    serviceTypeData[0]?.items[0].label
                  }}</span>
                  <span class="custom-tooltip cart-service-tooltip">
                    <span class="custom-tooltip-button">
                      <span
                        class="material-icons-outlined cart-service-tooltip-icon color-green"
                        (click)="
                          openLicenseModal(serviceTypeData[0]?.items[0].label);
                          $event.stopPropagation();
                          $event.preventDefault()
                        "
                      >
                        help_outline
                      </span>
                    </span>
                  </span>
                  <span
                    *ngIf="serviceTypeData[0]?.items[0].price"
                    class="cart-service-prices lg"
                  >
                    <strong
                      class="cart-service-price cart-service-price_discount"
                      ><span class="dollar">$</span
                      >{{ serviceTypeData[0]?.items[0].price }}</strong
                    >
                  </span>
                </label>
              </ng-container>

              <ng-container *ngIf="postDetails.serviceTypeId !== 4">
                <ng-container
                  *ngFor="let item of serviceTypeData[0]?.items; let i = index"
                >
                  <label class="cart-service cart-service_support checkbox">
                    <input
                      type="radio"
                      name="licenseType"
                      class="cart-service-checkbox checkbox-input"
                      (change)="onRadioChange(item)"
                      [checked]="item.checked"
                    />
                    <i class="cart-service-checkbox-icon checkbox-icon"></i>
                    <span class="cart-service-label checkbox-label lg">{{
                      item.label
                    }}</span>
                    <span class="custom-tooltip cart-service-tooltip">
                      <span class="custom-tooltip-button">
                        <span
                          class="material-icons-outlined cart-service-tooltip-icon color-green"
                          (click)="
                            openLicenseModal(item.label);
                            $event.stopPropagation();
                            $event.preventDefault()
                          "
                        >
                          help_outline
                        </span>
                      </span>
                    </span>
                    <span *ngIf="item.price" class="cart-service-prices lg">
                      <strong
                        class="cart-service-price cart-service-price_discount"
                        ><span class="dollar">$</span>{{ item.price }}</strong
                      >
                    </span>
                  </label>
                </ng-container>
              </ng-container>
            </div> -->

            <div class="bottom-content">
              <ng-container
                *ngFor="
                  let item of serviceTypeData[postDetails.serviceTypeId]?.items
                "
              >
                <label class="cart-service cart-service_support checkbox">
                  <input
                    type="checkbox"
                    name=""
                    id=""
                    class="cart-service-checkbox checkbox-input"
                    [checked]="item.checked"
                    (change)="onCheckboxChange(item, postDetails.serviceTypeId)"
                    [disabled]="
                      postDetails.serviceTypeId === 4 ||
                      postDetails.serviceTypeId === 3
                    "
                  />
                  <i class="cart-service-checkbox-icon checkbox-icon"></i>
                  <span class="cart-service-label checkbox-label">{{
                    item.label
                  }}</span>
                  <span *ngIf="item.price" class="cart-service-prices">
                    <strong
                      class="cart-service-price cart-service-price_discount"
                      ><span class="dollar">$</span>{{ item.price }}</strong
                    >
                  </span>
                </label>
              </ng-container>
              <hr class="line-break" />
              <div class="sp-bw">
                <p class="summary">Summary:</p>
                <p class="overall-price">
                  <span class="dollar">$</span>{{ checkboxPrice }}
                </p>
              </div>
              <button
                *ngIf="postDetails.serviceTypeId !== 1 && !showDownloadButton"
                class="buy-btn d-flex"
                (click)="payNow()"
              >
                <span class="material-icons-outlined fz-26">
                  shopping_cart
                </span>
                <span class="fz-17">Buy Product</span>
              </button>
              <button
                *ngIf="postDetails.serviceTypeId === 1 || showDownloadButton"
                class="download-btn d-flex"
                (click)="downloadCode()"
              >
                <span class="material-icons-outlined fz-26">
                  file_download
                </span>
                <span class="fz-17">Download Code</span>
              </button>
              <div class="buy-code">
                <button class="code-btn" (click)="openSalesEnquiryModal()">
                  I am interested to buy this product source code.
                </button>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
        <mat-card class="mt-10 border-1 bg-gray-card">
          <mat-card-title>Overview</mat-card-title>
          <mat-card-content>
            <p class="description-content">
              <span>Project category :</span>
              {{ getSingleValue(postDetails?.projectCategoryId, "category") }}
            </p>
            <p class="description-content">
              <span>Industry :</span>
              {{ getSingleValue(postDetails?.industryTypeId, "industry") }}
            </p>
            <p class="description-content">
              <span>Technology :</span>
              {{
                getMultipleValues(
                  postDetails?.technologyMappingList,
                  "technology"
                )
              }}
            </p>
            <p class="description-content">
              <span>Version :</span>
              {{
                getMultipleValues(
                  postDetails?.technologyVersionMappingList,
                  "version"
                )
              }}
            </p>
            <p class="description-content">
              <span>Framework :</span>
              {{
                getMultipleValues(
                  postDetails?.technologyFrameworkMappingList,
                  "framework"
                )
              }}
            </p>
            <p class="description-content">
              <span>Operating system :</span>
              {{
                getMultipleValues(postDetails?.operatingSystemMappingList, "os")
              }}
            </p>
          </mat-card-content>
        </mat-card>
        <mat-card class="mt-10 border-1 bg-gray-card">
          <mat-card-title>Key Feature</mat-card-title>
          <mat-card-content>
            <p class="description-content">{{ postDetails?.features }}</p>
          </mat-card-content>
        </mat-card>
        <!-- <mat-card class="mt-10 border-1 bg-gray-card">
          <mat-card-title class="title-flex">
            How it Works?
            <span class="material-icons-outlined" (click)="toggleTagsContent()">
              {{ isTagsVisible ? "remove" : "add" }}
            </span></mat-card-title
          >
          <mat-card-content *ngIf="isTagsVisible">
            <p class="description-content">
              <iframe
                width="425"
                height="300"
                src="https://www.youtube.com/embed/79pKwdiqcwI?si=6kbVhP7426vGJx-4"
                title="YouTube video player"
                frameborder="0"
                class="youtube-video"
                allow="autoplay;"
                allowfullscreen
              ></iframe>
            </p>
          </mat-card-content>
        </mat-card> -->
        <!-- <mat-card class="mt-10 border-1">
          <mat-card-title>Installation steps</mat-card-title>
          <mat-card-content>
            <p class="description-content">
              {{ postDetails?.installationSteps }}
            </p>
          </mat-card-content>
        </mat-card> -->
        <mat-card class="mt-10 border-1 bg-gray-card">
          <mat-card-title class="title-flex"
            >System Requirements
            <span class="material-icons-outlined" (click)="toggleReqContent()"
              >{{ isReqVisible ? "remove" : "add" }}
            </span>
          </mat-card-title>
          <mat-card-content *ngIf="isReqVisible">
            <p class="description-content">
              {{ postDetails?.systemRequirement }}
            </p>
          </mat-card-content>
        </mat-card>
        <mat-card class="mt-10 border-1 bg-gray-card" id="customerReviews">
          <mat-card-title class="title-flex">
            Installation steps
            <span class="material-icons-outlined" (click)="toggleCardContent()">
              {{ isContentVisible ? "remove" : "add" }}
            </span></mat-card-title
          >
          <mat-card-content *ngIf="isContentVisible">
            <p class="description-content">
              {{ postDetails?.installationSteps }}
            </p>
          </mat-card-content>
        </mat-card>
        <mat-card class="mt-10 border-1 bg-gray-card">
          <mat-card-title class="title-flex">
            Tags
            <span class="material-icons-outlined" (click)="toggleTagsContent()">
              {{ isTagsVisible ? "remove" : "add" }}
            </span></mat-card-title
          >
          <mat-card-content *ngIf="isTagsVisible">
            <!-- <p class="description-content">
              {{ formatTags(postDetails?.tagList) }}
            </p> -->
            <div class="attrs-wrapper">
              <div class="included-files">
                <ul>
                  <li
                    class="file-type"
                    *ngFor="let tag of postDetails?.tagList"
                  >
                    {{ tag.name }}
                  </li>
                </ul>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
        <mat-card class="mt-10 border-1 bg-gray-card" *ngIf="isAdmin">
          <mat-card-title class="title-flex">
            Rate this code
            <span class="material-icons-outlined" (click)="toggleRateContent()">
              {{ isRateVisible ? "remove" : "add" }}
            </span></mat-card-title
          >
          <mat-card-content *ngIf="isRateVisible">
            <p>How was your experience with our code?</p>
            <div class="flex-row">
              <div class="ratings-stars">
                <app-star-rating
                  (ratingSelected)="handleRatingSelected($event)"
                ></app-star-rating>
              </div>
            </div>
            <textarea
              class="rating-box"
              [(ngModel)]="reviewText"
              placeholder="Write your review"
            ></textarea>
            <button
              class="rate-btn"
              (click)="submitRating(postDetails?.tableRefGuid)"
            >
              Rate
            </button>
          </mat-card-content>
        </mat-card>
        <mat-card class="mt-10 bg-gray-card">
          <mat-card-title class="title-flex">
            What Our Customer Says
            <!-- <span
              class="material-icons-outlined"
              (click)="toggleReviewsContent()"
            >
              {{ isReviewsVisible ? "remove" : "add" }}
            </span> -->
          </mat-card-title>
          <mat-card-content>
            <div class="user-reviews">
              <div *ngFor="let review of reviewsData" class="review-item">
                <div class="ratings-given">
                  <app-star-rating
                    [readOnly]="true"
                    [selectedStar]="review.rating"
                  ></app-star-rating>
                </div>
                <p class="review-given">{{ review.review }}.</p>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
        <mat-card
          class="mt-10 approve-btn-carousel border-1 bg-gray-card"
          *ngIf="isAdmin && !postDetails.isApproved"
        >
          <button
            class="download-btn"
            (click)="verifyAdd(postDetails.tableRefGuid)"
          >
            Approve Now
          </button>
        </mat-card>
      </div>
    </div>
  </div>
</div>
