/* .mat-app-background {
    padding: 30px 40px 30px 155px;
    display: flex;
    height: 100%;
    min-width: 100% !important;
    flex-wrap: wrap;
    gap: 15px;
}

.card-image {
    padding: 10px;
    object-fit: cover;
    height: 250px;
    width: 290px;
    
}

.udayopen {
    display: none;
    width: 100%;
    position: fixed;
    z-index: 9;
    background: white;
    left: 0;
    top: 50px;
    padding: 2rem;
    margin-top: 62px;
}

.dropdown:hover .udayopen {
    display: flex;
}

.udayopen ul {
    max-width: 25% !important;
}

.mat-card {
    height: 390px;
    min-width: 290px;
    max-width: 290px;
    margin-bottom: 0rem !important;
}

.logo-image {
    display: flex;
}

.logo-text {
    display: flex;
    padding: 10px;
    font-size: 25px;
    color: aliceblue;
}

.nav-bar {
    background-color: #0d475c;
    z-index: 1002;
    position: relative;
    padding: 0;
}

.icon-text {
    display: flex;
    height: 60px;
    align-items: center;
    width: 10%;
}

.icon-text1 {
    display: flex;
    height: 60px;
    align-items: center;
    width: 10%;
}

.css-1pr0bng {
    display: flex;
    align-items: center;
    width: 100%;
}

.search-bar-container {
    position: relative;
    width: 85%;
    background-color: #0d475c;
}

.seearch-bar {
    max-width: 1024px;
    padding: 8px 0;
}

.search-bar .inputs-wrapper {
    flex-flow: row nowrap;
    align-items: center;
    background: #fff;
    border-radius: 50px;
    display: flex;
    width: 100%;
}

.form-element {
    box-sizing: border-box;
    display: block;
    width: 100%;
    position: relative;
}

.search-bar .inputs-wrapper .keyword-search-container input,
.search-bar .inputs-wrapper .location-container input {
    border-radius: 45px;
    padding-left: 17px;
    border: none;
    width: 100%;
    height: 40px;
}

.search-bar .inputs-wrapper .keyword-search-container input:focus-visible,
.search-bar .inputs-wrapper .location-container input:focus-visible {
    border: none;
    outline: none;
}

.search-bar .inputs-wrapper .search-location-label {
    display: block;
}

.search-bar .inputs-wrapper .search-location-label .dividing-line {
    height: 23px;
    border-right: 1px solid rgba(60, 50, 65, .49);
}

.search-bar .inputs-wrapper .location-container {
    margin-top: 0;
    width: 35%;
    display: flex;
}

.search-bar .inputs-wrapper .search-button {
    border-radius: 50%;
    width: 44px;
    height: 44px;
    background: #e75462;
    border: none;
    color: #fff;
}

.container {
    display: flex;
    width: 100%;
}

.keyword-search-container {
    width: 65%;
}

.navbar-inverse {
    background-color: white;
    border-color: #080808;
    border: none;
    border-bottom: 1px solid;
    border-radius: 0px;
}

.navbar-inverse .navbar-nav>li>a {
    color: black;
    font-weight: 600;
}



.second-nav li {
    padding: 0rem 3rem;
    border-right: 1px solid #ddd;
}

.second-nav li ul li {
    padding: 0rem 3rem;
    border-right: none;
}

.second-nav li:hover {
    background-color: darkgray;
    ;
}

.second-nav li li:hover {
    background: none;
}

.udayopen::after {
    content: "";
    position: absolute;
    height: calc(100vh - 100%);
    width: 100%;
    background: #00000030;
    left: 0;
    z-index: 9;
    top: 100%;
}

.list li {
    margin-bottom: 10px;
}

.list>li>a {
    display: block;
    font-size: 15px;
    line-height: 22px;
    color: #635b67;
}

.navbar-nav {
    width: 100%;
    display: flex;
}

.nav>li {
    width: 100%;
}

.loc-date {
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0px 1rem;
}

.loc {
    width: 75%;
    margin: 5px;
}

.date {
    text-align: right;
    width: 25%;
}

.navbar-right>li>a {
    color: #ffff;
}

.glyphicon-plus {
    left: 5px;
}

.glyphicon-user {
    left: 30px;
}

.navbar-right>li>a:focus,
.navbar-right>li>a:hover {
    text-decoration: none;
    background-color: #0d475c;
}

.spinner__loading {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.noposts {
    float: right;
    font-size: 30px;
}

.mat-mdc-card-title {
    display: block;
    margin: 0;
    padding: 0 16px;
}

.mdc-card {
    height: 350px;
    min-width: 290px;
    max-width: 290px;
}

.custom-link {
    text-decoration: none;
    color: black;
}

.custom-link:hover {
    text-decoration: none;
}

.back-to-top-btn {
    position: fixed;
    bottom: 0;
    left: 690px;
    top: 130px;
    height: 45px;
    width: 140px;
    background-color: #f1f1f1;
    color: #222;
    border: none;
    padding: 10px 3px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    z-index: 1100;
    font-weight: 500;
    font-size: 16px;
  }
  .back-to-top-btn.show {
    display: flex;
  }

  .load-more-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 90%;
  }
  
  .load-more-btn {
    background-color: #f1f1f1;
    color: #222;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-weight: 500;
    font-size: 16px;
  }

.post-image{
    position: relative;
}

.ribbon-featured {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    bottom: 0;
    right: 0;
}

.ribbon-featured .ribbon {
    background-color: #007bff;
    color: #fff;
    box-shadow: 0 0 2px 0 rgba(0,0,0,.2);
    text-transform: uppercase;
    display: block;
    text-align: center;
    top: 13px;
    left: -33px;
    font-weight: 700;
    width: 112px;
    height: 24px;
    padding: 3px 0;
    position: relative;
    font-size: 10.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    font-family: "Arial Narrow", sans-serif;
    letter-spacing: 0.4px;
}

.hide-visually {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.image-count{
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    gap: 3px;
    background-color: #222;
    color: #fff;
    padding: 3px 5px;
    border-radius: 3px;
} */

.custom-link {
    text-decoration: none !important;
    /* color: black; */
}

.post-item-price{
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    margin: 5px auto 10px auto;
}

.mat-app-background {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    margin-top: 110px;
    min-width: 100% !important;
    flex-wrap: wrap;
    gap: 15px;
    background-color: #fafafa;
}

.mpt{
    margin-top: -50px;
    padding-top: 50px;
}

.post-card-container{
    margin: 30px auto 50px auto;
    border-radius: 4px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1408px;
    padding: 0 16px;
}

.post-card-grid{
    display: grid;
    grid-template-columns: repeat(4, minmax(290px, 1fr));
    grid-gap: 14px;
    width: 100%;
}

.post-card-grid .post-item-card{
    padding: 0;
    box-shadow: 0 0 4px #e6e6e6;
    display: flex;
    flex-direction: column;
    min-height: 355px;
    width: 100%;
    background: #fff;
    border-color: #e6e6e6;
    border-radius: 4px;
    overflow: hidden;
}

.post-card-grid .post-item-card .post-item{
}

.post-item-img{
    width: 100%;
    height: 200px;
    position: relative;
}

.post-item-img:hover{
    background: linear-gradient(180deg,#24323866,#0000) !important;
}

.post-item-img img{
    width: 100%;
    height: 100%;
    padding: 12px 12px 0 12px;
}

.set-fav-card{
    background: #141414;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    /* height: 48px;
    line-height: 48px; */
    position: absolute;
    right: 15px;
    top: 15px;
    /* width: 48px; */
    padding: 15px 12px 12px 14px;
    z-index: 10;
    /* display: flex; */
    align-items: center;
    justify-content: center;
}

.set-fav-card:hover{
    color: orangered;
}

.set-fav-card.fill{
    background-color: #141414;
    color: orangered;
}

.set-fav-card.active {
    display: block;
  }

.post-item-img:hover .set-fav-card{
    display: flex;
}

.ribbon-featured {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    bottom: 0;
    right: 0;
}

.ribbon-featured .ribbon {
    /* background-color: #007bff;
    color: #fff; */
    box-shadow: 0 0 2px 0 rgba(0,0,0,.2);
    text-transform: uppercase;
    display: block;
    text-align: center;
    top: 15px;
    left: -32px;
    font-weight: 700;
    width: 112px;
    height: 24px;
    padding: 3px 0;
    position: relative;
    font-size: 10.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    font-family: "Arial Narrow", sans-serif;
    letter-spacing: 0.4px;
}

.ribbon-featured .standard-ribbon{
    background-color: #7e0d91;
    color: #fff;
}

.premium-ribbon{
    background-color: #960010;
    color: #fff;
    letter-spacing: 0.75px !important;
}

.ribbon-featured .community-ribbon{
    background-color: #3d0174;
    color: #fff;
}

.ribbon-featured .enterprise-ribbon{
    background-color: #222;
    color: #d79955;
}

.hide-visually {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


.post-card-grid .post-item-card .post-item-content{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    padding: 16px;
    min-height: 155px;
}

.post-card-grid .post-item-card .post-item-content .post-item-name{
    font-size: 14px;
    max-height: 40px;
    max-width: 100%;
    margin: 0;
    color: #4d4d4d;
    cursor: pointer;
    display: inline-block;
    max-width: 100%;
    position: relative;
    text-overflow: ellipsis;
    vertical-align: bottom;
    overflow: hidden;
    text-decoration: none;
}

.post-card-grid .post-item-card .post-item-content .post-item-author{
    color: #999;
    font-size: 13px;
    height: 18px;
    max-height: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 3px;
}

.bold{
    font-weight: bolder;
}

/* .details-wrapper .attrs-wrapper{
    margin-top: 0;
} */

.post-card-grid .post-item-card .post-item-content .post-item-details{
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
    /* justify-content: center; */
    /* margin-top: 8px; */
}

.post-card-grid .post-item-card .post-item-content .post-item-details .details-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
    width: 100%;
    margin-top: auto;
}

.post-card-grid .post-item-card .post-item-content .post-item-details .details-content .post-item-price{
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
}

.post-card-grid .post-item-card .post-item-content .post-item-details .details-content .post-item-rating-wrapper{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: -8px;
}

.post-card-grid .post-item-card .post-item-content .post-item-details .details-content .post-item-rating-wrapper .star-ratings{
    margin-right: 4px;
}

.post-item-details .details-content .post-item-rating-wrapper .star-rating-count{
    color: #666;
}

.post-card-grid .post-item-card .post-item-content .post-item-details .details-content .post-item-sales{
    color: #999;
    font-size: 14px;
    line-height: 20px;
}

.post-item-details .post-item-buttons{
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    flex-grow: 0;
}

.post-item-details-btn{
    margin-left: auto;
    padding: 8px 25px;
    background-color: #141414;
    border: none;
    border-radius: 3px;
    color: #fff;
}

.post-item-details-btn:hover{
    background-color: orangered;
}

.post-item-details .post-item-buttons .cover-wrapper{
    display: flex;
    height: 40px;
    justify-content: flex-end;
    position: relative;
    width: 100%;
    padding-left: 12px;
    background: rgb(255, 255, 255);
}

.post-item-details .post-item-buttons .cover-wrapper .cart-icon{
    width: 40px;
    border-color: #fff;
    border: 1px solid #ccc;
    height: 40px;
    line-height: 40px;
    position: relative;
    text-align: center;
    color: #666;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

.post-item-details .post-item-buttons .cover-wrapper .preview{
    color: #087096;
    cursor: pointer;
    font-size: 13px;
    font-weight: 700;
    height: 40px;
    line-height: 43px;
    border: 1px solid #087096;
    border-radius: 2px;
    margin: 0 -6px 0 4px;
    padding: 0 12px;
    width: 100px;
}

.post-item-contentr .attrs-wrapper{
    padding-top: 18px;
}

.post-item-content .attrs-wrapper .included-files{
    color: #4d4d4d;
    font-size: 14px;
    font-weight: 500;
}

.post-item-content .attrs-wrapper .included-files ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.post-item-content .attrs-wrapper .included-files .file-type{
    background-color: #f2f2f2;
    color: #666;
    float: left;
    font-size: 12px;
    border-radius: 2px;
    margin: 0px 8px 0 0;
    padding: 0 8px;
}

/* 
.post-card{
    display: flex;
    flex-direction: row;
    padding: 14px;
    background-color: #fff;
    margin-top: 20px;
    box-shadow: 0 0 4px #e6e6e6;
}

.img-wrapper{
    width: 450px;
    height: 200px;
}

.img-wrapper img{
    width: 100%;
    height: 100%;
}

.details-wrapper{
    width: calc(63% - 234px);
    padding: 0 16px;
}

.details-wrapper .item-name{
    font-size: 14px;
    display: inline-block;
    max-width: 100%;
    color: #4d4d4d;
    position: relative;
    text-overflow: ellipsis;
    vertical-align: bottom;
    overflow: hidden;
    text-decoration: none;
    margin: 5px 0 6px 0;
}

.details-wrapper .post-author{
    color: #999;
    font-size: 13px;
    height: 18px;
    max-height: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.bold{
    font-weight: bolder;
}

.details-wrapper .attrs-wrapper{
    padding-top: 18px;
}

.details-wrapper .attrs-wrapper .included-files{
    color: #4d4d4d;
    font-size: 14px;
    font-weight: 500;
}

.details-wrapper .attrs-wrapper .included-files ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.details-wrapper .attrs-wrapper .included-files .file-type{
    background-color: #f2f2f2;
    color: #666;
    float: left;
    font-size: 12px;
    border-radius: 2px;
    margin: 8px 8px 0 0;
    padding: 0 8px;
}

.price-wrapper{
    width: 227px;
    padding-left: 16px;
    border-left: 1px solid #e6e6e6;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.price-wrapper .post-info{
    flex-grow: 1;
    padding-bottom: 16px;
}

.price-wrapper .post-info .fav-collections{
    display: flex;
    fill: gray;
    justify-content: flex-end;
    padding-bottom: 16px;
    gap: 8px;
}

.price-wrapper .post-info .fav-collections .button-icon{
    display: inline-block;
    height: 20px;
    width: 20px;
    vertical-align: middle;
    color: gray;
    cursor: pointer;
}

.price-wrapper .post-info .fav-collections .button-icon.pr-5{
    padding-right: 5px !important;
}

.price-wrapper .post-info .fav-collections .button-icon.border-left{
    border-left: 1px solid gray;
    padding-left: 5px;
}

.price-wrapper .post-info .post-price{
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
}

.price-wrapper .post-info .rating-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.price-wrapper .post-info .rating-wrapper .star-ratings{
    margin-right: 4px;
}

.price-wrapper .post-info .rating-wrapper .star-rating-count{
    color: #666;
}

.price-wrapper .post-info .sales{
    color: #999;
    font-size: 13px;
    line-height: 20px;
    margin-top: 2px;
}

.price-wrapper .post-info .last-updated{
    color: #999;
    font-size: 13px;
    line-height: 20px;
    margin-top: 4px;
}

.price-wrapper .cover-wrapper{
    display: flex;
    height: 40px;
    position: relative;
    align-items: center;
    justify-content: center;
}

.price-wrapper .cover-wrapper .cart-icon{
    width: 45px;
    border-color: #fff;
    border: 1px solid #ccc;
    height: 45px;
    line-height: 45px;
    position: relative;
    text-align: center;
    color: #666;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

.price-wrapper .cover-wrapper .preview{
    color: #087096;
    cursor: pointer;
    font-size: 13px;
    font-weight: 700;
    height: 45px;
    line-height: 43px;
    border: 1px solid #087096;
    border-radius: 2px;
    margin: 0 4px;
    padding: 0 16px;
    width: 75%;
} */