.col-4{
    width: 30%;
    margin-right: 33px;
}
.flex{
    display: flex;
}
.mt-35{
    margin-top: 35px;
}
.w-96{
    width: 96%;
}
.mat-mdc-card-title{
    padding: 17px 17px;
}
.col-6{
    width: 50%;
}
.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
  }

  .circle img {
    width: 100%;
    height: 100px;
  }

  .upload-button {
    position: absolute;
    top: 75%;
    left: 18%;
    transform: translate(-50%, -50%);
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
  }

  .upload-button:hover {
    background-color: #0056b3;
  }

  .upload-button input[type="file"] {
    display: none;
  }
  .p-17{
    padding: 17px 17px;
  }