.login-page {
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: #303f9f;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

mat-card {
  /* width: 30%; */
  /* margin: 10% auto; */
  border-radius: 8px;
}
mat-form-field,
mat-checkbox {
  width: 88%;
  display: block;
  margin: auto;
}
mat-card-content {
  margin-top: 0px;
  padding: 0;
}

.sale-enquiry-button {
  display: block;
  background-color: #141414 !important;
  color: #fff !important;
  width: 88%;
  margin: 0px auto;
  margin-top: -10px;
}

.sale-enquiry-button:hover {
  background-color: orangered !important;
}

/* ::ng-deep .cdk-overlay-pane {
    width: 550px; 
  } */
.cdk-overlay-pane {
  width: 500px;
  pointer-events: auto;
  box-sizing: border-box;
  z-index: 1000;
  display: flex;
  max-height: 100%;
  position: relative;
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: gray;
  cursor: pointer;
}

.mat-mdc-tab-group {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin-top: 10px;
}
.mat-mdc-dialog-actions {
  justify-content: start;
  margin-left: 88%;
}
.mat-mdc-card-title {
  margin-top: 6px;
  margin-bottom: 0;
}

.customer-section,
.enquiry-section {
  display: flex;
  flex-direction: column;
  width: 88%;
  margin: auto;
}

.customer-section h4,
.enquiry-section h4 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.country-select {
  margin-top: 10px;
}

.country-code {
  padding-left: 12px;
}

.material-icons-outlined,
.failure-message {
  font-size: 22px;
}

.failure-message {
  width: 85%;
  margin: -10px auto 10px auto;
  display: block;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 500;
  font-size: 13px;
  color: red;
}

::ng-deep .cdk-overlay-pane {
  overflow: auto;
  scrollbar-width: none;
}
