.rating-star {
    font-size: 27px;
    color: orangered;
    margin-right: 0px;
    display: inline-block;
    cursor: pointer;
  }

.star{
  margin-top: 5.5px;
  color: rgb(146, 146, 146);
  cursor: pointer;
  color: gray;
  /* width: 24px;
  height: 24px;
  cursor: pointer; */
}


.checked{
  color: orange;
}

mat-icon{
  cursor: pointer;
}