.rating-star {
    font-size: 27px;
    color: orangered;
    margin-right: 0px;
    display: inline-block;
    cursor: pointer;
  }

.star{
  margin-top: 5.5px;
  color: black;
}


.checked{
  color: orange;
}

mat-icon{
  cursor: pointer;
}