<div class="adds-conrainer mt-all-120">
  <div>
    <mat-tab-group animationDuration="0ms">
      <mat-tab label="Admin Dashboard">
        <div class="admin-dashboard">
          <h3 class="dashboard-title">Admin Dashboard</h3>
          <!-- 
      <div class="category-select">
              <mat-form-field class="category-select-field">
                <mat-label>Select Category</mat-label>
                <mat-select
                  matNativeControl
                  required
                  [(ngModel)]="selectedCategoryId"
                  (ngModelChange)="getAdsByCategory(selectedCategoryId)"
                >
                  <mat-option
                    *ngFor="let category of mainCategories"
                    [value]="category.id"
                  >
                    {{ category.categoryName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div> -->

          <div
            id="unique-component"
            class="mat-app-background bg-white-back mat-pl-35"
          >
            <div class="card border-left-blue" *ngFor="let card of allCards">
              <div class="admin-rel row d-flex m-auto">
                <div class="date col-xs-12 col-sm-1">
                  <span class="colr"></span>
                  <div class="dt">
                    <div class="dt-txt">
                      <span
                        ><strong>{{
                          formatDate(card?.createdOn)
                        }}</strong></span
                      >
                    </div>
                  </div>
                </div>
                <div class="col-sm-10 border-left">
                  <div class="row product-details-cell border-bottom">
                    <div class="col-sm-4 d-flex">
                      <div class="product-img">
                        <img
                          [src]="card.projectImageList[0].codeImageURL"
                          alt="Post Pic"
                        />
                      </div>
                      <div
                        class="product-info cursor"
                        (click)="getPostDetailsLink(card)"
                      >
                        <a
                          [routerLink]="getPostDetailsLink(card)"
                          class="title-a"
                        >
                          <h4>{{ truncateTitle(card.name) }}</h4>
                        </a>
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <p class="p-price">₹ {{ card?.price }}</p>
                    </div>
                    <div class="col-sm-2">
                      <button class="btn-primary status">Published</button>
                    </div>
                    <div class="col-sm-4">
                      <p>This ad is live now</p>
                    </div>
                    <div class="col-sm-4">
                      <button class="float-right" (click)="editCard(card)">
                        Details
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Dashboard Message">
        <mat-card-content>
          <form class="message-form">
            <mat-form-field>
              <mat-label>Message</mat-label>
              <textarea
                matInput
                placeholder="Message"
                type="text"
                name="message"
                [(ngModel)]="message"
                rows="3"
              ></textarea>
              <mat-icon matSuffix>receipt</mat-icon>
            </mat-form-field>
            <p class="failure-message" *ngIf="validDescriptionMessage">
              <span class="material-icons-outlined"> report </span>
              Description is required*
            </p>
            <!-- Call onSubmit() function when button is clicked -->
            <button
              mat-raised-button
              color="primary"
              class="save-button"
              (click)="onSubmit()"
            >
              Save
            </button>
          </form>
        </mat-card-content>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
