<div class="tabs">
  <button type="button" class="tabs-title is-active">Top Locations</button>
  <div class="tabs-content">
    <h4>Top Cities</h4>
    <ul class="link-list">
      <li class="item">
        <a href="" class="link">BefordShire</a>
      </li>
      <li class="item">
        <a href="" class="link">BefordShire</a>
      </li>
      <li class="item">
        <a href="" class="link">BefordShire</a>
      </li>
      <li class="item">
        <a href="" class="link">BefordShire</a>
      </li>
      <li class="item">
        <a href="" class="link">BefordShire</a>
      </li>
      <li class="item">
        <a href="" class="link">BefordShire</a>
      </li>
      <li class="item">
        <a href="" class="link">BefordShire</a>
      </li>
      <li class="item">
        <a href="" class="link">BefordShire</a>
      </li>
      <li class="item">
        <a href="" class="link">BefordShire</a>
      </li>
      <li class="item">
        <a href="" class="link">BefordShire</a>
      </li>
      <li class="item">
        <a href="" class="link">BefordShire</a>
      </li>
      <li class="item">
        <a href="" class="link">BefordShire</a>
      </li>
      <li class="item">
        <a href="" class="link">BefordShire</a>
      </li>
      <li class="item">
        <a href="" class="link">BefordShire</a>
      </li>
      <li class="item">
        <a href="" class="link">BefordShire</a>
      </li>
      <li class="item">
        <a href="" class="link">BefordShire</a>
      </li>
      <li class="item">
        <a href="" class="link">BefordShire</a>
      </li>
      <li class="item">
        <a href="" class="link">BefordShire</a>
      </li>
      <li class="item">
        <a href="" class="link">BefordShire</a>
      </li>
      <li class="item">
        <a href="" class="link">BefordShire</a>
      </li>
      <li class="item">
        <a href="" class="link">BefordShire</a>
      </li>
      <li class="item">
        <a href="" class="link">BefordShire</a>
      </li>
      <li class="item">
        <a href="" class="link">BefordShire</a>
      </li>
      <li class="item">
        <a href="" class="link">BefordShire</a>
      </li>
      <li class="item">
        <a href="" class="link">BefordShire</a>
      </li>
    </ul>
  </div>
</div>
