/* footer{
    padding: 15px 0;
    font-family: "Montserrat", sans-serif;
}

#button-addon1 {
    color: #ffc371;
}
  
i {
    color: #0000cc;
    font-size: 20px;
}
  
.form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
}
  
.form-control.shadow-0:focus {
    box-shadow: none;
}
  
  
.bg-light-black{
    background: #292a2c;
    padding: 20px 0;
}

.footer-heading{
    font-size: 24px;
    color: #fff;
    font-weight: 600;
    margin: 20px 0 10px 0;
    line-height: 1.2;
    text-transform: uppercase;
}

.list-head{
    font-size: 14px;
    list-style: none;
    margin: 0;
    padding-top: 10px;
}

.list-item{
    padding: 5px 0;
}

.text-muted{
    color: #c2c2c2;
    display: inline-block;
    line-height: 1.5;
    font-size: 16px;
}

.bg-dark-color{
    padding: 30px 0;
    background-color: #000;
    margin-bottom: -20px;
}

.copyright-text{
    color: #fff;
    padding-top: 10px;
} */

.footer{
    padding: 7rem 0 4rem;
    position: relative;
    background-color: #3c3c3c;
    align-self: flex-end;
}

.footer .container{
    max-width: 117rem;
    margin: 0 auto;
    padding: 0;
}

.footer ul{
    list-style: none;
    padding-left: 0;
}

ul li{
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer .container .link-list{
    margin-bottom: 5rem;
    position: relative;
}

.link-list .list{
    display: flex;
    justify-content: space-between;
}

.link-list .list .list-item{
    width: auto;
    flex: 1;
}

.link-list .list .last-list-item{
    width: auto;
    flex: 1.5;
    margin-top: -5px;
}

.link-list .list .list-item .link-title{
    margin-bottom: 1rem;
    font-size: 1.8rem;
    line-height: 24px;
    color: orangered;
    position: relative;
    transform: all ease .3s;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
}

.link-list .list .nav-link{
    font-size: 1.8rem;
    line-height: 4rem;
    color: #a6a6a6;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Barlow', sans-serif;
}

.link-list .list .nav-link:hover{
    color: rgb(252, 95, 38);
}

.link-list .last-link-title{
    color: orangered;
    margin-bottom: 1rem;
    font-size: 2.6rem;
    line-height: 38px;
    font-weight: 600;
    font-family: 'Barlow', sans-serif;
}

.link-list .list-item .last-link-desc{
    font-size: 1.6rem;
    color: #fff;
    line-height: 22px;
    font-family: 'Barlow', sans-serif;
}

.signup-form{
    margin-top: 2.3rem;
}

.form-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.full-width{
    width: 100%;
}

.input-wrap{
    margin-bottom: 2rem;
}

.inputDefault{
    width: 100%;
    background: 0 0;
    border: none;
    outline: none;
    border-bottom: 1px solid #979797;
    padding: 0.6rem 0;
    color: #fff;
    font-size: 1.8rem;
    font-family: 'Barlow', sans-serif;
}

.error-wrap{
    text-align: left;
    margin-top: 0.5rem;
    font-size: 1.2rem;
    line-height: 1.2rem;
    color: #a80000;
    padding: 0.5rem 1rem;
    background: #9f9f9f;
    border-radius: 15px;
    font-family: 'Barlow', sans-serif;
    font-style: italic;
    display: none;
    position: absolute;
    left: 0;
    bottom: -3rem;
}

.signup-form .act-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn.btn-outline {
    background: 0 0;
    color: #fff;
    opacity: 1;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 10px 15px;
    font-family: 'Barlow', sans-serif;
}

.btn.btn-outline:hover{
    background-color: rgb(252, 95, 38);
    border: none;
}

.privacyLink {
    color: #fff!important;
    font-size: 1.4rem;
    text-decoration: underline;
    position: relative;
    top: 6px;
}

.bottom-part {
    border-top: 1px solid #979797;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
}

.footer-logo{
    /* font-size: 40px; */
    width: 10rem;
    height: 8rem;
    color: #fff;
    text-decoration: none;
}

.footer-logo img{
    width: 100%;
    height: 100%;
}

.socialLinkSec{
    margin-left: -12px;
}

.socialIconList {
    display: flex;
    text-align: right;
    padding-left: 6rem;
    padding-bottom: 2rem;
}

.socialIconList .socialLink {
    color: #fff!important;
    font-size: 1.6rem;
}

.b-text {
    margin-top: 7px;
    font-size: 1.5rem;
    color: #fff;
}