<!-- <footer class="bg-light-black">
  <div class="container py-6 bg-light-black">
    <div class="row">
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <p class="footer-heading">About</p>
        <ul class="list-unstyled mb-0 p-0 list-head">
          <li class="mb-2 list-item">
            <a href="#" class="text-muted">Contact Us</a>
          </li>
          <li class="mb-2 list-item">
            <a href="#" class="text-muted">About Us</a>
          </li>
          <li class="mb-2 list-item">
            <a href="#" class="text-muted">Stories</a>
          </li>
          <li class="mb-2 list-item">
            <a href="#" class="text-muted">Press</a>
          </li>
          <li class="mb-2 list-item">
            <a href="#" class="text-muted">Become A Partner</a>
          </li>
          <li class="mb-2 list-item">
            <a href="#" class="text-muted">Blog</a>
          </li>
          <li class="mb-2 list-item">
            <a href="#" class="text-muted">Sitemap</a>
          </li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <p class="footer-heading">Policy</p>
        <ul class="list-unstyled mb-0 list-head">
          <li class="mb-2 list-item">
            <a href="#" class="text-muted">Return Policy</a>
          </li>
          <li class="mb-2 list-item">
            <a href="#" class="text-muted">Terms Of Use</a>
          </li>
          <li class="mb-2 list-item">
            <a href="#" class="text-muted">Security</a>
          </li>
          <li class="mb-2 list-item">
            <a href="#" class="text-muted">Privacy</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <p class="footer-heading">Company</p>
        <ul class="list-unstyled mb-0 list-head">
          <li class="mb-2 list-item">
            <a href="#" class="text-muted">Login</a>
          </li>
          <li class="mb-2 list-item">
            <a href="#" class="text-muted">Register</a>
          </li>
          <li class="mb-2 list-item">
            <a href="#" class="text-muted">Sitemap</a>
          </li>
          <li class="mb-2 list-item">
            <a href="#" class="text-muted">Our Products</a>
          </li>
          <li class="mb-2 list-item">
            <a href="#" class="text-muted">Our Team</a>
          </li>
          <li class="mb-2 list-item">
            <a href="#" class="text-muted">Our Customers</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-lg-0">
        <p class="footer-heading">Get In Touch</p>
        <p class="text-muted mb-4 list-head">
          Here , write the complete address of the Registered office address
          along with telephone number.
        </p>
      </div>
    </div>
  </div>

  <div class="bg-dark-color">
    <div class="container text-center">
      <p class="copyright-text">&copy; 2019 Claxified All risghts reserved.</p>
    </div>
  </div>
</footer> -->

<footer class="footer">
  <div class="container">
    <div class="link-list">
      <ul class="list">
        <li class="list-item">
          <div class="content-asset">
            <h2 class="link-title">Who We Are</h2>
            <ul class="nav-list">
              <li class="nav-item">
                <a class="nav-link">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link">Follow Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link">Get a Quote Now</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="list-item">
          <div class="content-asset">
            <h2 class="link-title">Our Range</h2>
            <ul class="nav-list">
              <li class="nav-item">
                <a class="nav-link">Project Category</a>
              </li>
              <li class="nav-item">
                <a class="nav-link">Industry Type</a>
              </li>
              <li class="nav-item">
                <a class="nav-link">Language & Tech</a>
              </li>
              <li class="nav-item">
                <a class="nav-link">Brands</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="list-item">
          <div class="content-asset">
            <h2 class="link-title">Support</h2>
            <ul class="nav-list">
              <li class="nav-item">
                <a class="nav-link">Standard License</a>
              </li>
              <li class="nav-item">
                <a class="nav-link">Corporate Inquiries</a>
              </li>
              <li class="nav-item">
                <a class="nav-link">Contact Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link">FAQs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link">Team</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="list-item">
          <div class="content-asset">
            <h2 class="link-title">Other Links</h2>
            <ul class="nav-list">
              <li class="nav-item">
                <a class="nav-link">Privacy Policy</a>
              </li>
              <li class="nav-item">
                <a class="nav-link">Exchange & Returns</a>
              </li>
              <li class="nav-item">
                <a class="nav-link">Terms of Use</a>
              </li>
              <li class="nav-item">
                <a class="nav-link">Predict & Win</a>
              </li>
              <li class="nav-item">
                <a class="nav-link">Blog</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="list-item last-list-item">
          <div class="content-asset">
            <h2 class="last-link-title">
              Sign Up for New Stuffs & Special Offers
            </h2>
            <span class="last-link-desc">We promise not to spam you!</span>
            <form action="" id="newsletterFormId">
              <div class="form signup-form">
                <div class="form-list">
                  <div class="form-item full-width">
                    <div class="input-wrap">
                      <input
                        type="string"
                        class="inputDefault alpha"
                        placeholder="abc@gmail.com"
                      />
                      <div class="error-wrap">
                        <span class="error-text">This field is required</span>
                      </div>
                    </div>
                    <div class="act-btn">
                      <button class="btn btn-outline submitBtn btn-semiBold">
                        Sign Up
                      </button>
                      <a class="privacyLink">Privacy Policy</a>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </li>
      </ul>
    </div>
    <div class="bottom-part">
      <a class="footer-logo">CODEPEN</a>
      <div class="socialLinkSec">
        <div class="content-asset">
          <p class="b-text">© 2022 CODEPEN. ALL RIGHTS RESERVED.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
