<footer class="bg-light-black">
  <div class="container py-6 bg-light-black">
    <div class="row">
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <p class="footer-heading">About</p>
        <ul class="list-unstyled mb-0 p-0 list-head">
          <li class="mb-2 list-item">
            <a href="#" class="text-muted">Contact Us</a>
          </li>
          <li class="mb-2 list-item">
            <a href="#" class="text-muted">About Us</a>
          </li>
          <li class="mb-2 list-item">
            <a href="#" class="text-muted">Stories</a>
          </li>
          <li class="mb-2 list-item">
            <a href="#" class="text-muted">Press</a>
          </li>
          <li class="mb-2 list-item">
            <a href="#" class="text-muted">Become A Partner</a>
          </li>
          <li class="mb-2 list-item">
            <a href="#" class="text-muted">Blog</a>
          </li>
          <li class="mb-2 list-item">
            <a href="#" class="text-muted">Sitemap</a>
          </li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <p class="footer-heading">Policy</p>
        <ul class="list-unstyled mb-0 list-head">
          <li class="mb-2 list-item">
            <a href="#" class="text-muted">Return Policy</a>
          </li>
          <li class="mb-2 list-item">
            <a href="#" class="text-muted">Terms Of Use</a>
          </li>
          <li class="mb-2 list-item">
            <a href="#" class="text-muted">Security</a>
          </li>
          <li class="mb-2 list-item">
            <a href="#" class="text-muted">Privacy</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <p class="footer-heading">Company</p>
        <ul class="list-unstyled mb-0 list-head">
          <li class="mb-2 list-item">
            <a href="#" class="text-muted">Login</a>
          </li>
          <li class="mb-2 list-item">
            <a href="#" class="text-muted">Register</a>
          </li>
          <li class="mb-2 list-item">
            <a href="#" class="text-muted">Sitemap</a>
          </li>
          <li class="mb-2 list-item">
            <a href="#" class="text-muted">Our Products</a>
          </li>
          <li class="mb-2 list-item">
            <a href="#" class="text-muted">Our Team</a>
          </li>
          <li class="mb-2 list-item">
            <a href="#" class="text-muted">Our Customers</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-lg-0">
        <p class="footer-heading">Get In Touch</p>
        <p class="text-muted mb-4 list-head">
          Here , write the complete address of the Registered office address
          along with telephone number.
        </p>
      </div>
    </div>
  </div>

  <div class="bg-dark-color">
    <div class="container text-center">
      <p class="copyright-text">&copy; 2019 Claxified All risghts reserved.</p>
    </div>
  </div>
</footer>
