/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");
html,
body {
  min-height: 100vh;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.text-orange {
  color: orangered;
}

.text-lightblue {
  color: #337ab7;
}
