<header class="stick stick-header">
  <nav class="nav-bar">
    <div class="container">
      <div class="icon-text">
        <a href="#" title="Gumtree" class="icon-text1">
          <div class="logo-img">
            <!-- <img src="../../../../assets/logo.jpg" alt="Logo" /> -->
            <div class="logo-text">
              <span>CLAXIFIED</span>
            </div>
          </div>
        </a>
      </div>
      <div class="css-1pr0bng em7g81m0">
        <div class="search-bar-container">
          <form action="/search">
            <div class="search-bar">
              <div class="inputs-wrapper">
                <div class="keyword-search-container">
                  <div class="keyword-search-field">
                    <div class="form-element form-element--input type-ahead">
                      <div class="form-element form-element--input">
                        <input aria-label="Type search query"
                          placeholder="eg. BMW 3 series, 3 seater sofa, lawnmower, dining table" maxlength="50"
                          autocomplete="off" class="input input-text" type="text" id="q" name="q" value=""
                          [(ngModel)]="searchQuery" />
                        <span class="material-icons cross-icon" (click)="clearSearchText()">clear</span>
                      </div>
                    </div>
                  </div>
                </div>
                <label class="search-location-label" for="header-search-location">
                  <div class="dividing-line"></div>
                </label>
                <div class="location-container">
                  <div class="form-element form-element--input type-ahead">
                    <div class="form-element form-element--input">
                      <input aria-label="Location" maxlength="50" placeholder="Add your postcode or location"
                        autocomplete="off" class="input input-text" type="text" id="header-search-location"
                        name="search_location" value="" [(ngModel)]="locationSearchQuery" />
                      <span class="material-icons cross-icon" (click)="clearLocationSearchText()">clear</span>
                    </div>
                  </div>
                  <button class="button button--primary search-button" rel="noopener noreferrer" type="submit">
                    <span class="material-icons">search</span>
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <mat-menu #beforeMenu="matMenu" xPosition="before">
          <button mat-menu-item>
            <img [src]="imageUrl" alt="" class="img_stl" />
            <div class="mt-10">
              <p class="mt-0">{{ userData?.firstName || "" }}</p>
              <a routerLink="/user/account/personal">Go to profile</a>
            </div>
          </button>
          <hr class="profile-hr" />
          <button mat-menu-item routerLink="/user/account/myadds" class="button-item">
            <span class="material-icons"> upload_file </span>
            <span>My ads</span>
          </button>
          <button mat-menu-item class="button-item">
            <span class="material-icons"> bookmark_border </span>
            <span>Saved</span>
          </button>
          <button mat-menu-item class="button-item">
            <span class="material-icons"> chat_bubble_outline </span>
            <span>Chats</span>
          </button>
          <hr class="profile-hr" />
          <button mat-menu-item routerLink="/user/account" class="button-item">
            <span class="material-icons">settings</span>
            <span>Account</span>
          </button>
          <hr class="profile-hr" />
          <button mat-menu-item (click)="logout()" class="button-item">
            <span class="material-icons">logout</span>
            <span>Log Out</span>
          </button>
        </mat-menu>
        <div class="pull-right header-actions">
          <ul class="nav navbar-nav navbar-right">
            <li class="login profile_i" *ngIf="isUserLogedIn">
              <img [src]="imageUrl" alt="" class="img_stl" />
              <button class="arrow" mat-button [matMenuTriggerFor]="beforeMenu" (click)="toggleExpandIcons()">
                <mat-icon class="expand" *ngIf="!expandIconVisible">expand_less</mat-icon>
                <mat-icon class="expand" *ngIf="expandIconVisible" class="expand">expand_more</mat-icon>
              </button>
            </li>
            <li class="login register" *ngIf="!isUserLogedIn">
              <a (click)="openSignUpModal()">Register</a>
            </li>
            <li class="login" *ngIf="!isUserLogedIn">
              <a (click)="openLoginModal()">Login</a>
            </li>
            <li class="neon__button">
              <a (click)="postAdd()">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Post Free Add
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <nav class="navbar navbar-inverse">
    <div class="second-nav">
      <ul class="nav navbar-nav no-pointer-nav">
        <li class="dropdown auto-pointer-events">
          <div class="li-item link-item">
            <span class="material-icons"> devices_other </span>
            <a [routerLink]="'/Gadgets/view-posts'" [queryParams]="{ type: 'Gadget' }">Gadgets</a>
          </div>
          <ul class="dropdown-menu">
            <li>
              <a [routerLink]="'/Gadgets/view-posts'"
                [queryParams]="{ type: 'Gadget', sub: gadgetsTypes.Mobiles }">Mobiles</a>
            </li>
            <li>
              <a [routerLink]="'/Gadgets/view-posts'"
                [queryParams]="{ type: 'Gadget', sub: gadgetsTypes.Tablets }">Tablets</a>
            </li>
            <li>
              <a [routerLink]="'/Gadgets/view-posts'" [queryParams]="{
                  type: 'Gadget',
                  sub: gadgetsTypes.Accessories
                }">Accessories</a>
            </li>
          </ul>
        </li>
        <li class="dropdown auto-pointer-events">
          <div class="li-item link-item">
            <span class="material-icons-outlined"> directions_car_filled </span>
            <a>Vehicles</a>
          </div>
          <ul class="dropdown-menu">
            <li>
              <a [routerLink]="'/Vehicles/view-posts'"
                [queryParams]="{ type: 'Vehicle', sub: vehicleTypes.Car }">Cars</a>
            </li>
            <li>
              <a [routerLink]="'/Vehicles/view-posts'"
                [queryParams]="{ type: 'Vehicle', sub: vehicleTypes.Bike }">Bikes</a>
            </li>
            <li>
              <a [routerLink]="'/Vehicles/view-posts'"
                [queryParams]="{ type: 'Vehicle', sub: vehicleTypes.Scooty }">Scooty</a>
            </li>
            <li>
              <a [routerLink]="'/Vehicles/view-posts'"
                [queryParams]="{ type: 'Vehicle', sub: vehicleTypes.Bicycle }">Bicycle</a>
            </li>
            <li>
              <a [routerLink]="'/Vehicles/view-posts'" [queryParams]="{
                  type: 'Vehicle',
                  sub: vehicleTypes.SpareParts
                }">Spare parts</a>
            </li>
          </ul>
        </li>
        <li class="dropdown auto-pointer-events">
          <div class="li-item">
            <span class="material-icons-outlined"> maps_home_work </span>
            <a class="dropdown-toggle">Properties</a>
          </div>
          <ul class="dropdown-menu">
            <li><a>For Sale: Houses & Apartments</a></li>
            <li><a>For Rent: Houses & Apartments</a></li>
            <li><a>Lands & Plot</a></li>
            <li><a>For Rent: Shop & Offices</a></li>
            <li><a>For Sale: Shops & Offices</a></li>
            <li><a>PG & Guest Houses</a></li>
          </ul>
        </li>
        <li class="dropdown auto-pointer-events">
          <div class="li-item">
            <span class="material-icons"> work_outline </span>
            <a class="dropdown-toggle">Jobs</a>
          </div>
          <ul class="dropdown-menu">
            <li><a>Data Entry & Back Office</a></li>
            <li><a>Sales & Marketting</a></li>
            <li><a>BPO & Telecaller</a></li>
            <li><a>Driver</a></li>
            <li><a>Office Assistant</a></li>
            <li><a>Delivery & Collection</a></li>
            <li><a>Teacher</a></li>
            <li><a>Cook</a></li>
            <li><a>Receptionist & Front Office</a></li>
            <li><a>Operator & Technician</a></li>
            <li><a>IT & Software</a></li>
            <li><a>Hotel & Travel</a></li>
            <li><a>Accountant</a></li>
            <li><a>Designer</a></li>
            <li><a>Other Jobs</a></li>
          </ul>
        </li>
        <li class="dropdown auto-pointer-events">
          <div class="li-item link-item">
            <span class="material-icons"> tv</span>
            <a class="dropdown-toggle">Electronics</a>
          </div>
          <ul class="dropdown-menu">
            <li>
              <a [routerLink]="'/Electronics & Appliances/view-posts'" [queryParams]="{
                  type: 'Appliances',
                  sub: ElectronicAppliancesTypes.TV
                }">TV</a>
            </li>
            <li>
              <a [routerLink]="'/Electronics & Appliances/view-posts'" [queryParams]="{
                  type: 'Appliances',
                  sub: ElectronicAppliancesTypes.Kitchen
                }">Kitchen</a>
            </li>
            <li>
              <a [routerLink]="'/Electronics & Appliances/view-posts'" [queryParams]="{
                  type: 'Appliances',
                  sub: ElectronicAppliancesTypes.Computer
                }">Computer & Laptop</a>
            </li>
            <li>
              <a [routerLink]="'/Electronics & Appliances/view-posts'" [queryParams]="{
                  type: 'Appliances',
                  sub: ElectronicAppliancesTypes.Camera
                }">Camera & Lenses</a>
            </li>
            <li>
              <a [routerLink]="'/Electronics & Appliances/view-posts'" [queryParams]="{
                  type: 'Appliances',
                  sub: ElectronicAppliancesTypes.GamesEntertainment
                }">Games & Entertainment</a>
            </li>
            <li>
              <a [routerLink]="'/Electronics & Appliances/view-posts'" [queryParams]="{
                  type: 'Appliances',
                  sub: ElectronicAppliancesTypes.Refrigrator
                }">Refrigrator</a>
            </li>
            <li>
              <a [routerLink]="'/Electronics & Appliances/view-posts'" [queryParams]="{
                  type: 'Appliances',
                  sub: ElectronicAppliancesTypes.ComputerAccessories
                }">Computer Accessories</a>
            </li>
            <li>
              <a [routerLink]="'/Electronics & Appliances/view-posts'" [queryParams]="{
                  type: 'Appliances',
                  sub: ElectronicAppliancesTypes.AC
                }">AC</a>
            </li>
            <li>
              <a [routerLink]="'/Electronics & Appliances/view-posts'" [queryParams]="{
                  type: 'Appliances',
                  sub: ElectronicAppliancesTypes.WashingMachine
                }">Washing Machine</a>
            </li>
          </ul>
        </li>
        <li class="dropdown dropdown auto-pointer-events">
          <div class="li-item link-item">
            <span class="material-icons"> bed </span>
            <a>Furniture & Household</a>
          </div>
          <ul class="dropdown-menu">
            <li>
              <a [routerLink]="'/Furniture/view-posts'" [queryParams]="{
                  type: 'Furniture',
                  sub: furnitureTypes.SofaAndDining
                }">Sofa & Dining</a>
            </li>
            <li>
              <a [routerLink]="'/Furniture/view-posts'"
                [queryParams]="{ type: 'Furniture', sub: furnitureTypes.Beds }">Beds</a>
            </li>
            <li>
              <a [routerLink]="'/Furniture/view-posts'" [queryParams]="{
                  type: 'Furniture',
                  sub: furnitureTypes.KidsFurniture
                }">Kids Furniture</a>
            </li>
            <li>
              <a [routerLink]="'/Furniture/view-posts'" [queryParams]="{
                  type: 'Furniture',
                  sub: furnitureTypes.OtherHouseholdItems
                }">Other Household items</a>
            </li>
          </ul>
        </li>
        <li class="dropdown auto-pointer-events">
          <div class="li-item">
            <span class="material-icons-outlined"> auto_stories </span>
            <a class="dropdown-toggle">Books</a>
          </div>
          <ul class="dropdown-menu">
            <li>
              <a [routerLink]="'/Books/view-posts'" [queryParams]="{
                  type: 'Book',
                  sub: bookTypes.ScienceAndTechnology
                }">Science & Technology</a>
            </li>
            <li>
              <a [routerLink]="'/Books/view-posts'" [queryParams]="{
                  type: 'Book',
                  sub: bookTypes.BusinessAndManagement
                }">Business & Management</a>
            </li>
            <li>
              <a [routerLink]="'/Books/view-posts'" [queryParams]="{
                  type: 'Book',
                  sub: bookTypes.SchoolAndCollege
                }">School & College</a>
            </li>
            <li>
              <a [routerLink]="'/Books/view-posts'" [queryParams]="{
                  type: 'Book',
                  sub: bookTypes.Competative
                }">Competative</a>
            </li>
            <li>
              <a [routerLink]="'/Books/view-posts'" [queryParams]="{
                  type: 'Book',
                  sub: bookTypes.Art
                }">Art</a>
            </li>
            <li>
              <a [routerLink]="'/Books/view-posts'" [queryParams]="{
                  type: 'Book',
                  sub: bookTypes.Others
                }">Others</a>
            </li>
          </ul>
        </li>
        <li class="dropdown auto-pointer-events">
          <div class="li-item link-item">
            <span class="material-icons"> sports_soccer </span>
            <a class="dropdown-toggle">Sports & Hobbies </a>
          </div>
          <ul class="dropdown-menu">
            <li>
              <a [routerLink]="'/Sports & Hobbies/view-posts'" [queryParams]="{
                  type: 'Sport',
                  sub: sportTypes.GymAndFitness
                }">Gym & Fitness</a>
            </li>
            <li>
              <a [routerLink]="'/Sports & Hobbies/view-posts'" [queryParams]="{
                  type: 'Sport',
                  sub: sportTypes.MusicalInstruments
                }">Musical Instruments</a>
            </li>
            <li>
              <a [routerLink]="'/Sports & Hobbies/view-posts'" [queryParams]="{
                  type: 'Sport',
                  sub: sportTypes.SportsEquipment
                }">Sports Equipment</a>
            </li>
            <li>
              <a [routerLink]="'/Sports & Hobbies/view-posts'" [queryParams]="{
                  type: 'Sport',
                  sub: sportTypes.OtherHobbies
                }">Other Hobbies</a>
            </li>
          </ul>
        </li>
        <li class="dropdown auto-pointer-events">
          <div class="li-item link-item">
            <span class="material-icons-outlined"> cruelty_free</span>
            <a class="dropdown-toggle">Pets</a>
          </div>
          <ul class="dropdown-menu">
            <li>
              <a [routerLink]="'/Pets/view-posts'" [queryParams]="{
                  type: 'Pet',
                  sub: petTypes.FishesAndAquarium
                }">Fishes & Aquarium</a>
            </li>
            <li>
              <a [routerLink]="'/Pets/view-posts'" [queryParams]="{
                  type: 'Pet',
                  sub: petTypes.PetFoodAndAccessories
                }">Pet Food & Accessories</a>
            </li>
            <li>
              <a [routerLink]="'/Pets/view-posts'" [queryParams]="{
                  type: 'Pet',
                  sub: petTypes.Dogs
                }">Dogs</a>
            </li>
            <li>
              <a [routerLink]="'/Pets/view-posts'" [queryParams]="{
                  type: 'Pet',
                  sub: petTypes.OtherPets
                }">Other Pets</a>
            </li>
          </ul>
        </li>
        <li class="dropdown auto-pointer-events">
          <div class="li-item">
            <span class="material-icons-outlined"> watch </span>
            <a class="dropdown-toggle">Fashion</a>
          </div>
          <ul class="dropdown-menu">
            <li>
              <a [routerLink]="'/Fashion/view-posts'" [queryParams]="{
                  type: 'Fashion',
                  sub: fashionTypes.Men
                }">Men</a>
            </li>
            <li>
              <a [routerLink]="'/Fashion/view-posts'" [queryParams]="{
                  type: 'Fashion',
                  sub: fashionTypes.Women
                }">Women</a>
            </li>
            <li>
              <a [routerLink]="'/Fashion/view-posts'" [queryParams]="{
                  type: 'Fashion',
                  sub: fashionTypes.Kids
                }">Kids</a>
            </li>
          </ul>
        </li>
        <!-- <li class="dropdown auto-pointer-events">
          <div class="li-item">
            <span class="material-icons-outlined"> favorite_border </span>
            <a class="dropdown-toggle">Matrimonial</a>
          </div>
          <ul class="dropdown-menu">
            <li><a>Bride Search</a></li>
            <li><a>Groom Search</a></li>
          </ul>
        </li>
        <li class="dropdown auto-pointer-events">
          <div class="li-item">
            <span class="material-icons-outlined"> groups </span>
            <a class="dropdown-toggle">Community</a>
          </div>
          <ul class="dropdown-menu">
            <li><a>Travel & Partners</a></li>
            <li><a>Event</a></li>
            <li><a>Night Life</a></li>
            <li><a>Group & Association</a></li>
            <li><a>Sport Team & Partners</a></li>
            <li><a>Artist & Theater</a></li>
            <li><a>Other</a></li>

          </ul>
        </li> -->
        <li class="dropdown auto-pointer-events">
          <div class="li-item">
            <span class="material-icons"> electrical_services </span>
            <a class="dropdown-toggle">Commercial Services</a>
          </div>
          <ul class="dropdown-menu">
            <li><a>Electronic & Computer</a></li>
            <li><a>Education & Classess</a></li>
            <li><a>Driver & Taxi</a></li>
            <li><a>Healthy & Beauty</a></li>
            <li><a>Other Services</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>